<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lịch sử đơn hàng</title>
</head>
<style>
</style>

<body>
	<main>
		<div class="main">
			<div class="container">
				<div class="row margin-bottom-40">
					<div class="">
						<section>
							<div class="py-5">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div>
												<div class="card-header text-center"
													style="background-color: #cf6125; color: white; font-size: 18px; font-weight: 700; height: 45px; padding: 10px 0px; margin-bottom: 22px">
													Lịch sử đơn hàng</div>
												<table class="table table-hover table-bordered" id="myTable">
													<thead>
														<tr>
															<th><span>Tên Người Nhận</span></th>
															<th><span>SĐT Người Nhận</span></th>
															<th><span>Địa Chỉ Nhận Hàng</span></th>
															<th><span>Ngày</span></th>
															<th><span>Đơn Giá</span></th>
															<th><span>Trạng Thái Hóa Đơn</span></th>
															<th><span>Trạng Thái Thanh Toán</span></th>
															<th><span>Ghi chú</span></th>
															<th><span></span></th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="order : ${orders}">
															<td th:text="${order.name}"></td>
															<td th:text="${order.phone}"></td>
															<td th:text="${order.address}"></td>
															<td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy')}"></td>
															<td><span
																	th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0 , 'POINT')} + ' VND'"></span>
															</td>
															<td><span class="badge badge-warning" th:if="${order.statushd == 1}">Chờ
																	xác nhận</span> <span class="badge badge-warning" th:if="${order.statushd == 2}">Đã
																	xác nhận</span> <span class="badge badge-warning" th:if="${order.statushd == 3}">Đang
																	giao</span> <span class="badge badge-warning" th:if="${order.statushd == 4}">Hoàn
																	thành</span> <span class="badge badge-warning"
																	th:if="${order.statushd == 5}">Hủy</span>
															</td>
															<td>
																<a class="btn btn-danger btn-sm" th:if="${not order.statustt && order.statushd == 1}"
																	th:href="@{'/user/huythanhtoan/' + ${order.orderId}}" onclick="cancelPayment()">
																	<i class="fa fa-times" aria-hidden="true"></i> Hủy
																	đơn hàng
																</a>
																<span th:if="${not order.statustt && order.statushd > 1}"
																	class="badge badge-warning">Chờ thanh toán</span>
																<span th:if="${order.statustt}" class="badge badge-warning">Đã thanh toán</span>
															</td>
															<td th:text="${order.note}"></td>
															<td><a class="btn btn-primary btn-sm"
																	th:href="@{'/user/xemhoadonct/' + ${order.orderId}}">
																	<i class="fa fa-eye" aria-hidden="true"></i>
																</a> <br></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		function cancelPayment() {
			alert("Hủy thanh toán thành công");
		}
	</script>
</body>

</html>