<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Voucher khuyến mãi</title>
</head>
<style>
</style>

<body>
	<main>
		<div class="main" ng-controller="checkctrl">
			<div class="container">
				<!-- BEGIN SIDEBAR & CONTENT -->
				<div class="row margin-bottom-40">
					<!-- BEGIN CONTENT -->
					<div class="">
						<section>
							<div class="py-5">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div>
												<div class="card-header text-center"
													style="background-color: #cf6125; color: white; font-size: 18px; font-weight: 700; height: 45px; padding: 10px 0px; margin-bottom: 22px">
													Voucher khuyến mãi</div>

												<table class="table table-hover table-bordered">
													<thead>
														<tr>

															<th><span>ID</span></th>
															<th><span>Tên khuyến mãi</span></th>
															<th><span>Chiết khấu cho khách</span></th>
															<th><span>Giá trị tối thiểu đơn hàng</span></th>
															<th><span>Ngày tạo</span></th>
															<th><span>Trạng thái</span></th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="km : ${items}" th:if="${km.minOrderAmount}">
															<td><a><span th:text="${km.id}"></span></a></td>
															<td th:text="${km.name}"></td>
															<td th:text="${km.discountPercent + '%'}"></td>
															<td><span
																	th:text="${#numbers.formatDecimal(km.minOrderAmount, 0, 'COMMA', 0 , 'POINT')} + ' VND'"></span>
															</td>
															<td th:text="${#temporals.format(km.usedDates, ' dd-MM-yyyy HH:mm:ss')}"></td>
															<td th:text="${km.status ? 'Đang hoạt động' : 'Ngừng hoạt động'}"></td>
															<td><a class="btn btn-primary btn-sm" th:href="@{'/admin/qlkhuyenmai/'+${km.id}}"
																	title="Hiển thị theo mã"> Chọn mã khuyến mãi
																</a> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

					</div>
					<!-- END CONTENT -->
				</div>
				<!-- END SIDEBAR & CONTENT -->
			</div>
		</div>
	</main>
</body>

</html>