<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{assets/fonts/icomoon/style.css}">

<link rel="stylesheet"
	th:href="@{assets/pages/css/owl.carousel.min.css}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{assets/pages/css/bootstrap.min.css}">

<!-- Style -->
<link rel="stylesheet" th:href="@{assets/pages/css/style.css}">

<title>Login</title>
</head>

<body>
	<div class="d-md-flex half">
		<div class="bg"
			style="background-image: url('assets/pages/img/bg_1.jpg');"></div>
		<div class="contents">

			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-md-12">
						<div class="form-block mx-auto">
							<div class="text-center mb-5">
								<h3 class="text-uppercase">
									<strong>ĐĂNG NHẬP</strong>
								</h3>
							</div>
							<!-- Hiển thị thông báo lỗi -->
							<div th:if="${errorMessage}">
								<p th:utext="${errorMessage}" style="color: red"></p>
							</div>
							<div th:if="${successMessage}">
								<p th:utext="${successMessage}" style="color: #7fad39"></p>
							</div>
							<form name="signin" th:action="@{/login}" method="post">
								<div class="form-group first">
									<label for="email">Email</label> <input type="email"
										class="form-control" name="email"
										placeholder="Hãy nhập địa chỉ email" id="email">
								</div>
								<div class="form-group last mb-3">
									<label for="password">Mật khẩu</label>
									<div class="input-with-icon">
										<input type="password" class="form-control" name="password"
											placeholder="Hãy nhập mật khẩu" id="password">
										<!-- Con đóng -->
										<svg id="eye-icon" style="margin-top: -3%;" xmlns="http://www.w3.org/2000/svg"
											height="16" width="18" viewBox="0 0 576 512">
											<!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
										<path
												d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z" />
									</svg>
									</div>
								</div>

								<script>
									document
											.addEventListener(
													"DOMContentLoaded",
													function() {
														var passwordField = document
																.getElementById("password");
														var eyeIcon = document
																.getElementById("eye-icon");

														eyeIcon.classList
																.remove("fa-eye");
														eyeIcon.classList
																.add("fa-eye-slash");

														eyeIcon
																.addEventListener(
																		"click",
																		function() {
																			if (passwordField.type === "password") {
																				passwordField.type = "text";
																				eyeIcon.classList
																						.remove("fa-eye");
																				eyeIcon.classList
																						.add("fa-eye-slash");
																			} else {
																				passwordField.type = "password";
																				eyeIcon.classList
																						.remove("fa-eye-slash");
																				eyeIcon.classList
																						.add("fa-eye");
																			}
																		});
													});
								</script>

								<div class="d-sm-flex mb-5 align-items-center">
									<!-- 									<label class="control control--checkbox mb-3 mb-sm-0"><span -->
									<!-- 										class="caption">Nhớ tài khoản</span> <input name="remember-me" -->
									<!-- 										value="true" type="checkbox" checked="checked" /> -->
									<!-- 										<div class="control__indicator"></div>  -->
									<label><input name="remember-me" type="checkbox"
										value="true" checked="checked" /> Nhớ mật khẩu?</label> </label> <span
										class="ml-auto"><a href="/reset-password"
										class="forgot-pass">Quên mật khẩu</a></span>
								</div>

								<span class="text-center my-3 d-block">Bạn chưa có tài
									khoản? <a th:href="@{/registration}">Đăng ký</a>
								</span> <input type="submit" value="Đăng nhập"
									class="btn btn-block py-2 btn-primary"> <span
									class="text-center my-3 d-block">Hoặc</span>


								<div class="">
									<a th:href="@{/oauth2/authorization/facebook}"
										class="btn btn-block py-2 btn-facebook"> <span
										class="icon-facebook mr-3"></span> Đăng nhập với facebook
									</a> <a th:href="@{/oauth2/authorization/google}"
										class="btn btn-block py-2 btn-google"><span
										class="icon-google mr-3"></span> Đăng nhập với Google</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="pages/scripts/jquery-3.3.1.min.js"></script>
	<script src="pages/scripts/popper.min.js"></script>
	<script src="pages/cripts/bootstrap.min.js"></script>
	<script src="pages/scripts/main.js"></script>
</body>

</html>