<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo mật khẩu mới</title>
    <meta name="author" content="Syahrizaldev">

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
    <!-- Css -->
    <link rel="stylesheet" href="/assets/user/style.css">
    <link rel="stylesheet" href="/assets/user/new-password.css" type="text/css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Tạo mật khẩu mới</h1>
                    <p class="text text-normal">Bạn tạo mật khẩu mới tại đây
                    </p>
                </div>
                <form name="signin" action="/new-password" class="form" method="post">

                    <div class="input-control main-password">
                        <input type="password" name="newpassword" class="input-field" aria-label="password"
                            placeholder="Nhập mật khẩu" required pattern=".{4,20}"
                            title="Mật khẩu phải có ít nhất 4 ký tự và nhiều nhất 20 ký tự.">
                        <a href="JavaScript:void(0);" class="icon-view">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                    <div class="input-control main-password">
                        <input type="password" name="repassword" class="input-field" aria-label="password"
                            placeholder="Nhập lại mật khẩu" required pattern=".{4,20}"
                            title="Mật khẩu phải có ít nhất 4 ký tự và nhiều nhất 20 ký tự."
                            oninput="checkPasswordMatch()">
                        <a href="JavaScript:void(0);" class="icon-view">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                    <i  th:text="${repassworderror}" style="color: red;"></i>
                    <div class="input-control">
                        <a href="/codeVerification" class="btn btn-light input-submit-cancel">Hủy bỏ</a>
                        <button class="btn btn-primary input-submit" style="background-color: #cf6125;">Xác nhận</button>
                    </div>
                </form>
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <p class="text text-normal">Trở về trang chủ? <span>
                            <a href="/" class="text text-links"> Home!</a>
                        </span>
                    </p>
                </div>
            </section>
        </div>
    </main>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/assets/user/new-password.js"></script>

</html>