<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nhập Email xác nhận</title>
  <meta name="author" content="Syahrizaldev">
  <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
  <!-- Css -->
  <link th:href="@{/assets/user/reset-password.css}" rel="stylesheet">
  <!-- Css Styles -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
</head>

<body>
  <main class="main">
    <div class="container">
      <section class="wrapper">
        <div class="heading">
          <h1 class="text text-large">Quên mật khẩu</h1>
          <p class="text text-normal">Nhập email để nhận mã xác minh</p>
        </div>
        <form name="sign" action="/reset-password" class="form" method="post">
          <div class="input-control">
            <label for="email" class="input-label" hidden>Email</label>
            <input type="email" name="email" id="email" class="input-field" placeholder="Địa chỉ email" required>
          </div>
          <i th:text="${error}" style="color: red;"></i>
          <div class="striped">
            <span class="striped-line"></span>
            <span class="striped-line"></span>
          </div>
          <div class="input-control my-2">
            <a href="/login" class="btn btn-light input-submit-cancel">Hủy bỏ</a>
            <button class="btn btn-primary input-submit" style="background-color: #cf6125;">Xác nhận</button>

          </div>
        </form>
        <div class="method">
          <p class="text text-normal">Bạn chưa có tài khoản? <span>
              <a href="/registration" class="text text-links"> Đăng ký ngay!</a>
            </span>
          </p>
        </div>
      </section>
    </div>
  </main>
</body>

</html>