<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header ng-controller="category-controller">
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <!-- BEGIN TOP BAR LEFT PART -->
          <div class="col-md-6 col-sm-6 additional-shop-info">
            <ul class=" list-inline">
              <li style="height: 45px;"> <a class="site-logo" href="shop-index.html"><img
                    src="../assets/corporate/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a></li>
              <li><i class="fa fa-phone"></i><span>+nhutin.vn</span></li>
              <!-- BEGIN CURRENCIES -->
              <li class="shop-currencies">
                <a href="javascript:void(0);">đ</a>

                <a href="javascript:void(0);" class="current">$</a>
              </li>
              <!-- END CURRENCIES -->
              <!-- BEGIN LANGS -->
              <li class="langs-block">
                <a href="javascript:void(0);" class="current">Tiếng Anh </a>
                <div class="langs-block-others-wrapper">
                  <div class="langs-block-others">
                    <a href="javascript:void(0);">Tiếng Việt</a>

                  </div>
                </div>
              </li>
              <!-- END LANGS -->
            </ul>
          </div>
          <!-- END TOP BAR LEFT PART -->
          <!-- BEGIN TOP BAR MENU -->
          <div class="col-md-6 col-sm-6 additional-nav">
            <ul class="list-unstyled list-inline pull-right"> -->

              <li><a href="shop-checkout.html">Đăng Kí</a></li>
              <li><a href="page-login.html">Đăng Nhập</a></li>
              <li>
                <h3><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                    Xin chào [[${#request.remoteUser}]]
                  </a></h3>
              </li>
            </ul>
          </div>
          <!-- END TOP BAR MENU -->
        </div>
      </div>
    </div>
    <div class="header" ng-controller="product-controller">
      <div class="container">


        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <div class="top-cart-info">
            <a href="">Cart</a>
            <a href="javascript:void(0);" class="top-cart-info-value"> <i class="fa fa-shopping-cart">
                {{getcount()}}</i> </a>
          </div>

          <div class="top-cart-content-wrapper">
            <div class="top-cart-content">
              <ul class="scroller" style="height: 250px;">
                <li ng-repeat="gh in cartItems">
                  <a href=""><img ng-src="../assets/images/product/{{gh.image}}" alt="{{gh.image}}" width="37"
                      height="34"></a>
                  <span class="cart-content-count">X {{gh.qty}}</span>
                  <strong><a href="">{{gh.productName}}</a></strong>
                  <em>{{gh.price|number : 0}} đ</em>
                  <a href="javascript:void(0);" class="del-goods" ng-click="removesp(item.productID)">&nbsp;</a>
                </li>
              </ul>
              <div class="text-right">
                <a th:href="@{/cart}" class="btn btn-default">View Cart</a>
                <a th:href="@{/checkout}" class="btn btn-primary">Checkout</a>
              </div>
            </div>
          </div>
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                <strong>DANH MỤC</strong>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-12 header-navigation-col">
                        <h4>Điện máy</h4>
                        <ul ng-repeat="item in categoris" ng-if="item.active !== false">
                          <li><a ng-click="goToCategory(item.categoryID)">{{item.categoryName}}</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul class="brand-list">
                          <li ng-repeat="item in brands" style="display: inline-block; margin-right: 20px;">
                            <a>
                              <img title="esprit" alt="esprit" ng-src="../assets/images/carousel/{{item.image}}">
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a th:href="@{/home}">
                Trang Chủ
              </a>


              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown">
              <a th:href="@{/shop}">
                Sản phẩm
              </a>


              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown dropdown-megamenu">
              <a th:href="@{/about}">
                Giới thiệu

              </a>

            </li>

            <li class="dropdown dropdown100 nav-catalogue">
              <a th:href="@{/news}">
                Tin công nghệ

              </a>

            </li>


            <li><a href="">Liên hệ</a></li>

            <li class="dropdown active" th:unless="${#request.remoteUser}">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Tài khoản
              </a>

              <ul class="dropdown-menu">
                <li><a th:href="@{/login}">Đăng nhập</a></li>
                <li><a th:href="@{/registration}">Đăng ký</a></li>
                <li><a th:href="@{/reset-password}">Quên mật khẩu</a></li>
              </ul>
            </li>

            <li class="dropdown active" th:if="${#request.remoteUser}">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Tài Khoản

              </a>

              <ul class="dropdown-menu">
                <li><a th:href="@{/admin/index}">Trang quản lý</a></li>
                <li><a th:href="@{/changepassword}">Đổi mật khẩu</a></li>
                <li><a th:href="@{/khuyenmai}">Voucher khuyến mãi</a></li>
                <li><a th:href="@{/user/history}">Lịch sử mua hàng</a></li>
                <li><a th:href="@{/user/profile}">Trang cá nhân</a></li>
                <li><a th:href="@{/logout}">Đăng xuất</a></li>
              </ul>
            </li>

            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <div class="input-group">
                  <input type="search" placeholder="Search" class="form-control" id="productName" ng-model="searchText"
                    name="productName">
                  <span class="input-group-btn">
                    <button ng-click="searchProductsByName()" class="btn btn-primary">Search</button>
                  </span>
                </div>
              </div>
              <!-- Hiển thị kết quả tìm kiếm nếu showSearchResults là true -->
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
      <div ng-show="showSearchResults">

        <button ng-click="closeSearchResults()">&#10006;</button>
        <!-- Đoạn mã để hiển thị kết quả tìm kiếm -->
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-2 col-sm-6 col-xs-12" ng-repeat="item in products track by item.productID">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img ng-src="../assets/images/product/{{item.image}}" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../assets/images/product/{{item.image}}" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3 style="height: 40px;"><a ng-click="goToSinglePage(item.productID)">{{item.productName}}</a>
              </h3>
              <div class="pi-price">{{item.price |number : 0}} đ</div>
              <a href="javascript:;" class="btn btn-default add2cart" ng-click="addToCart(item.productID)">Add
                to
                cart</a>
            </div>

          </div>
        </div>
      </div>



  </header>
</body>

</html>