<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header ng-controller="category-controller">
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <!-- BEGIN TOP BAR LEFT PART -->
          <div class="col-md-6 col-sm-6 additional-shop-info">
            <ul class=" list-inline">
              <li> <a th:href="@{/home}">
                  <div class="title-box">
                    <span class="first-letter">N</span>HUTIN <span class="second-letter">S</span>TORE
                  </div>
                </a></li>
              <li><i class="fa fa-phone"></i><span>+0866065558</span></li>
              <!-- BEGIN CURRENCIES -->
              <li class="shop-currencies">
                <a><i class="fa fa-map-marker" aria-hidden="true"></i>Cần Thơ</a>
              </li>
              <!-- END CURRENCIES -->
              <!-- BEGIN LANGS -->
              <li class="langs-block">
                <a href="javascript:void(0);" class="current">Tiếng Anh </a>
                <div class="langs-block-others-wrapper">
                  <div class="langs-block-others">
                    <a href="javascript:void(0);">Tiếng Việt</a>

                  </div>
                </div>
              </li>
              <!-- END LANGS -->
            </ul>
          </div>
          <!-- END TOP BAR LEFT PART -->
          <!-- BEGIN TOP BAR MENU -->
          <div class="col-md-6 col-sm-6 ">
            <ul class="list-unstyled  pull-right">
              <li>
                <div class="title-box">
                  Xin chào <span class="first-letter">[[${#request.remoteUser}]] </span>
                </div>
              </li>
            </ul>
          </div>
          <!-- END TOP BAR MENU -->
        </div>
      </div>
    </div>
    <div class="header" ng-controller="product-controller">
      <div class="container">
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <div class="top-cart-info">
            <a href="">Cart</a>
            <a href="javascript:void(0);" class="top-cart-info-value"> <i class="fa fa-shopping-cart">
                {{getcount()}}</i> </a>
          </div>

          <div class="top-cart-content-wrapper">
            <div class="top-cart-content">
              <ul class="scroller" style="height: 250px;">
                <li ng-repeat="gh in cartItems">
                  <a href=""><img ng-src="../assets/images/product/{{gh.image}}" alt="{{gh.image}}" width="37"
                      height="34"></a>
                  <span class="cart-content-count">X {{gh.qty}}</span>
                  <strong><a href="">{{gh.productName}}</a></strong>
                  <em>{{gh.price|number : 0}} đ</em>
                  <a href="javascript:void(0);" class="del-goods" ng-click="removesp(item.productID)">&nbsp;</a>
                </li>
              </ul>
              <div class="text-right">
                <a th:href="@{/cart}" class="btn btn-default">View Cart</a>
                <a th:href="@{/checkout}" class="btn btn-primary">Checkout</a>
              </div>
            </div>
          </div>
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                <i class="fa fa-bars" aria-hidden="true"></i> <strong>DANH MỤC</strong>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-12 header-navigation-col">
                        <h4>Điện máy</h4>
                        <ul ng-repeat="item in categoris" ng-if="item.active !== false">
                          <li><a ng-click="goToCategory(item.categoryID)">{{item.categoryName}}</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul class="brand-list">
                          <li ng-repeat="item in brands" ng-if="item.active !== false"
                            style="display: inline-block; margin-right: 20px;">
                            <a>
                              <img title="esprit" alt="esprit" ng-src="../assets/images/carousel/{{item.image}}">
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown active">
              <a th:href="@{/home}">
                <i class="fa fa-home"></i> Trang Chủ
              </a>
            </li>
            <li>
              <a th:href="@{/shop}">
                <i class="fa fa-laptop" aria-hidden="true"></i> Sản phẩm
              </a>
            </li>
            <li>
              <a th:href="@{/about}">
                <i class="fa fa-users" aria-hidden="true"></i> Giới thiệu
              </a>
            </li>
            <li>
              <a th:href="@{/news}">
                <i class="fa fa-id-card" aria-hidden="true"></i> Tin công nghệ
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-address-book" aria-hidden="true"></i> Liên hệ
              </a>
            </li>
            <li th:unless="${#request.remoteUser}">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản
              </a>

              <ul class="dropdown-menu">
                <li><a th:href="@{/login}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Đăng nhập</a>
                </li>
                <li><a th:href="@{/registration}"><i class="fa fa-info-circle" aria-hidden="true"></i> Đăng ký</a>
                </li>
                <li><a th:href="@{/reset-password}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Quên
                    mật
                    khẩu</a></li>
              </ul>
            </li>

            <li th:if="${#request.remoteUser}">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Tài Khoản

              </a>

              <ul class="dropdown-menu">
                <li th:if="${#request.isUserInRole('ADMIN')}"><a th:href="@{/admin/index}"><i class="fa fa-user-secret"
                      aria-hidden="true"></i> Trang quản lý</a></li>
                <li><a th:href="@{/changepassword}"><i class="fa fa-wrench" aria-hidden="true"></i> Đổi mật khẩu</a>
                </li>
                <li><a th:href="@{/khuyenmai}"> <i class="fa fa-gift" aria-hidden="true"></i> Voucher</a>
                </li>
                <li><a th:href="@{/user/history}"><i class="fa fa-history" aria-hidden="true"></i> Lịch sử mua
                    hàng</a>
                </li>
                <li><a th:href="@{/user/profile}"><i class="fa fa-user" aria-hidden="true"></i> Trang cá nhân</a>
                </li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i><i
                      class="fa fa-chevron-circle-right" aria-hidden="true"></i> Đăng xuất</a></li>
              </ul>
            </li>

            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <div class="input-group">
                  <input type="search" placeholder="Bạn tìm gì...." class="form-control" id="productName"
                    ng-model="searchText" name="productName">
                  <span class="input-group-btn">
                    <button ng-click="searchProductsByName()" class="btn btn-primary">Search</button>
                  </span>
                </div>
              </div>
              <!-- Hiển thị kết quả tìm kiếm nếu showSearchResults là true -->
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
      <div ng-show="showSearchResults">

        <button ng-click="closeSearchResults()">&#10006;</button>
        <!-- Đoạn mã để hiển thị kết quả tìm kiếm -->
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-2 col-sm-6 col-xs-12" ng-repeat="item in products track by item.productID">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img ng-src="../assets/images/product/{{item.image}}" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="../assets/images/product/{{item.image}}" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3 style="height: 40px;"><a ng-click="goToSinglePage(item.productID)">{{item.productName}}</a>
              </h3>
              <div class="pi-price">{{item.price |number : 0}} đ</div>
              <a href="javascript:;" class="btn btn-default add2cart" ng-click="addToCart(item.productID)">Add
                to
                cart</a>
            </div>

          </div>
        </div>
      </div>



  </header>
</body>

</html>