USE [master]
GO
/****** Object:  Database [electric_project]    Script Date: 03/10/2023 2:21:28 CH ******/
CREATE DATABASE [electric_project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'electric_project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MVL\MSSQL\DATA\electric_project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'electric_project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MVL\MSSQL\DATA\electric_project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [electric_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [electric_project]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
	[image] [nvarchar](50) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_details]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_details](
	[cartdetail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[cart_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartdetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK__carts__BDF201DD858CE39F] PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorys]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorys](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_date] [datetime] NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__comments__E795768701CC4FD4] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfirmationCode]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfirmationCode](
	[user_id] [int] NOT NULL,
	[OTPCode] [nvarchar](100) NULL,
	[IsConfirmed] [bit] NULL,
	[OTPCreationDate] [datetime] NULL,
	[OTPExpirationDate] [datetime] NULL,
 CONSTRAINT [PK_ConfirmationCode] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[new_id] [int] IDENTITY(1,1) NOT NULL,
	[news_description] [nvarchar](max) NOT NULL,
	[image] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[new_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[order_detailId] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[order_date] [datetime] NOT NULL,
	[total_amount] [float] NOT NULL,
	[statushd] [tinyint] NOT NULL,
	[statustt] [bit] NOT NULL,
	[note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__orders__465962294BCAB6EA] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[payment_method] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_reviews]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[review_data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__product___60883D9047BF8A8D] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[product_name] [nvarchar](50) NULL,
	[price] [float] NULL,
	[create_date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[active] [bit] NULL,
	[supplier_id] [int] NULL,
	[configuration] [nvarchar](max) NULL,
 CONSTRAINT [PK__products__47027DF54A9052AA] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippings]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippings](
	[transport_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[reciplient_name] [nvarchar](50) NOT NULL,
	[state] [bit] NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[note] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__shipping__A17E3277D85233DE] PRIMARY KEY CLUSTERED 
(
	[transport_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] NOT NULL,
	[supplier_name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[website] [varchar](50) NULL,
	[describe] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/10/2023 2:21:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[LoginPermission] [bit] NULL,
	[RegistrationDate] [datetime] NULL,
	[LockStatus] [bit] NULL,
	[Role] [nvarchar](10) NULL,
 CONSTRAINT [PK__Users__B9BE370FD688AA5F] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([brand_id], [brand_name], [image], [active]) VALUES (1, N'JBL', N'banner_mini.png', 1)
INSERT [dbo].[brands] ([brand_id], [brand_name], [image], [active]) VALUES (2, N'Kangaroo', N'banner_mini1.png', 1)
INSERT [dbo].[brands] ([brand_id], [brand_name], [image], [active]) VALUES (3, N'Karofi', N'banner_mini2.png', 1)
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categorys] ON 

INSERT [dbo].[categorys] ([category_id], [category_name], [active]) VALUES (1, N'Máy lạnh', 1)
INSERT [dbo].[categorys] ([category_id], [category_name], [active]) VALUES (2, N'Tủ lạnh', 1)
INSERT [dbo].[categorys] ([category_id], [category_name], [active]) VALUES (3, N'Tivi', 1)
SET IDENTITY_INSERT [dbo].[categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([order_detailId], [order_id], [product_id], [quantity], [price]) VALUES (1, 1, 6, 2, 1500000)
INSERT [dbo].[order_details] ([order_detailId], [order_id], [product_id], [quantity], [price]) VALUES (2, 1, 8, 1, 15900000)
INSERT [dbo].[order_details] ([order_detailId], [order_id], [product_id], [quantity], [price]) VALUES (3, 1, 9, 1, 6490000)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [user_id], [name], [phone], [address], [order_date], [total_amount], [statushd], [statustt], [note]) VALUES (1, 2006, N'luak mai', N'0702807933', N'123,Xã Phú Phụng,Huyện Chợ Lách,Tỉnh Bến Tre', CAST(N'2023-09-27T00:00:00.000' AS DateTime), 27390000, 1, 0, N'123')
INSERT [dbo].[orders] ([order_id], [user_id], [name], [phone], [address], [order_date], [total_amount], [statushd], [statustt], [note]) VALUES (2, 2, N'admin', N'0989878675', N'55,Xã Đồng Phúc,Huyện Ba Bể,Tỉnh Bắc Kạn', CAST(N'2023-09-28T00:00:00.000' AS DateTime), 10590000, 1, 1, N'giao sớm nha')
INSERT [dbo].[orders] ([order_id], [user_id], [name], [phone], [address], [order_date], [total_amount], [statushd], [statustt], [note]) VALUES (3, 1, N'user', N'0987890987', N'776,Xã La Hiên,Huyện Võ Nhai,Tỉnh Thái Nguyên', CAST(N'2023-09-28T00:00:00.000' AS DateTime), 1500000, 1, 1, N'giao nè')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [address], [phone], [email], [website], [describe]) VALUES (1, N'Panasnic	', N'HCM', N'0123456789', N'panasonic@gmail.com', N'panasonic.vn', N'ko')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [Username], [Password], [Email], [FullName], [DateOfBirth], [Gender], [Address], [PhoneNumber], [LoginPermission], [RegistrationDate], [LockStatus], [Role]) VALUES (1, N'user', N'$2a$12$ZiJ7v4jOoxkTGDU2UOWLvuFMNGkWFSqeeZ45hBn08xQQ0UJmwZcR6', N'user@gmail.com', N'user', CAST(N'2002-01-01' AS Date), 1, N'123', N'0987890987', 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 0, N'USER')
INSERT [dbo].[Users] ([user_id], [Username], [Password], [Email], [FullName], [DateOfBirth], [Gender], [Address], [PhoneNumber], [LoginPermission], [RegistrationDate], [LockStatus], [Role]) VALUES (2, N'admin', N'$2a$12$ZiJ7v4jOoxkTGDU2UOWLvuFMNGkWFSqeeZ45hBn08xQQ0UJmwZcR6', N'admin@gmail.com', N'admin', CAST(N'3333-03-03' AS Date), 1, N'123', N'0989878675', 1, CAST(N'2002-01-01T00:00:00.000' AS DateTime), 0, N'ADMIN')
INSERT [dbo].[Users] ([user_id], [Username], [Password], [Email], [FullName], [DateOfBirth], [Gender], [Address], [PhoneNumber], [LoginPermission], [RegistrationDate], [LockStatus], [Role]) VALUES (3, N'viennvpc04385@fpt.edu.vn', N'oauth2_dummy_password', N'viennvpc04385@fpt.edu.vn', N'Nguyen Van Vien (FPL CT K17)', CAST(N'2023-09-25' AS Date), NULL, NULL, NULL, 1, CAST(N'2023-09-25T15:22:00.670' AS DateTime), 0, N'USER')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[cart_details]  WITH CHECK ADD  CONSTRAINT [FK_cart_details_carts] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([card_id])
GO
ALTER TABLE [dbo].[cart_details] CHECK CONSTRAINT [FK_cart_details_carts]
GO
ALTER TABLE [dbo].[cart_details]  WITH CHECK ADD  CONSTRAINT [FK_cart_details_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[cart_details] CHECK CONSTRAINT [FK_cart_details_products]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_Users]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_products]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_Users]
GO
ALTER TABLE [dbo].[ConfirmationCode]  WITH CHECK ADD  CONSTRAINT [FK_ConfirmationCode_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ConfirmationCode] CHECK CONSTRAINT [FK_ConfirmationCode_Users]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_products]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_Users]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_orders]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_products]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_Users]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categorys] FOREIGN KEY([category_id])
REFERENCES [dbo].[categorys] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categorys]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_suppliers]
GO
ALTER TABLE [dbo].[shippings]  WITH CHECK ADD  CONSTRAINT [FK_shippings_orders] FOREIGN KEY([transport_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[shippings] CHECK CONSTRAINT [FK_shippings_orders]
GO
ALTER TABLE [dbo].[shippings]  WITH CHECK ADD  CONSTRAINT [FK_shippings_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[shippings] CHECK CONSTRAINT [FK_shippings_Users]
GO
USE [master]
GO
