<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="admin(title,view)">

<head>
	<meta charset="utf-8">
	<title>Trang Quản Lý</title>
	<!-- site icon -->
	<link rel="shortcut icon" th:href="@{/assets/images/fevicon.png}" type="image/x-icon">


	<!-- bootstrap css -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />

	<!-- site css -->
	<link rel="stylesheet" th:href="@{/assets/css/style2.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}">
	<!-- or -->
	<link rel="stylesheet" th:href="@{https://unpkg.com/boxicons@latest/css/boxicons.min.css}">

	<!-- responsive css -->
	<link rel="stylesheet" th:href="@{/assets/css/responsive.css}" />
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>

	<link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- select bootstrap -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap-select.css}" />

	<!--  fomat tiền trong html-->
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js}"></script>

	<!-- scrollbar css -->
	<link rel="stylesheet" th:href="@{/assets/css/perfect-scrollbar.css}" />

	<!-- Font-icon css-->
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css}">
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js}"></script>
	<!-- CKEDITOR -->
	<script type="text/javascript" th:src="@{/assets/ckeditor/ckeditor.js}"></script>

	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/assets/js/app.js}"></script>
	<script th:src="@{/assets/js/category.js}"></script>
	<script th:src="@{/assets/js/product.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<style>
		.mgs_errors {
			color: red;
			font-style: italic;
		}
	</style>
</head>

<body class="dashboard dashboard_1" onload="myCustomFunction()" ng-app="my-app">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<nav id="sidebar" class="ps">
				<div class="sidebar_blog_1">
					<div class="sidebar-header">
						<div class="logo_section">
							<a th:href="@{/admin/home}"><img class="logo_icon img-responsive"
									th:src="@{/assets/images/logo/logo_icon.png}" alt="#" /></a>
						</div>
					</div>
					<div class="sidebar_user_info">
						<div class="icon_setting"></div>
						<div class="user_profle_side">
							<div class="user_img">
								<img class="img-responsive" th:src="@{/assets/images/logo/logoadm.png}" alt="#" />
							</div>
							<div class="user_info" th:object="${#request.userPrincipal}">
								<h6></h6>
								<p>
									<span class="online_animation"></span> Online
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar_blog_2">
					<h4>Chung</h4>
					<ul class="list-unstyled components">
						<li class="active"><a th:href="@{/admin/index}" aria-expanded="false">

								<i class="fa fa-dashboard yellow_color"></i>
								<span>Bảng điều khiển</span></a>
						<li class="active"><a th:href="@{/admin/spbanchay}" aria-expanded="false">
								<i class="fa fa-line-chart "></i>
								<span>Sản phẩm bán chạy</span></a>
						<li><a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
									class="fa fa-table purple_color2"></i> <span>Quản lý</span></a>
							<ul class="collapse list-unstyled" id="element">
								<li><a th:href="@{/admin/qlsanpham}">> <span>Sản phẩm
										</span></a></li>
								<li><a th:href="@{/admin/qldonhang}">> <span>Đơn hàng</span></a></li>
								<li><a th:href="@{/admin/qlkhachhang}">> <span>Khách
											hàng</span></a></li>
								<li><a th:href="@{/admin/brand}">> <span>Thương hiệu</span></a></li>
								<li><a th:href="@{/admin/category}">> <span>Loại</span></a></li>
							</ul>
						</li>
						<!-- <li><a th:href="@{/admin/qlnoibo}"><i class="fa fa-users blue2_color"
									aria-hidden="true"></i><span>Quản
									lý nội bộ</span></a></li> -->

						<li><a th:href="@{/admin/lienhe}"> <i class="fa fa-paper-plane red_color"></i> <span>Liên
									hệ</span></a></li>


						<li><a href="#baocao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
									class="fa fa-bar-chart-o green_color"></i> <span>Báo cáo
									danh thu</span></a>
							<ul class="collapse list-unstyled" id="baocao">
								<li><a th:href="@{/admin/baocaochung}"> > <span>Chung</span></a></li>
								<li><a th:href="@{/admin/baocaosanpham}"> > <span>Sản
											phẩm</span></a></li>
								<li><a th:href="@{/admin/baocaohoadon}">> <span>Hóa
											đơn </span></a></li>
							</ul>
						</li>

						<li><a href="#caidat" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
									class="fa fa-cog blue2_color"></i> <span>Cài đặt</span></a>

							<ul class="collapse list-unstyled" id="caidat">


								<li><a th:href="@{/logout}"> <span>Đăng xuất </span></a></li>
							</ul>
						</li>


					</ul>
				</div>
			</nav>
			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div class="topbar">
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="full">
							<button type="button" id="sidebarCollapse" class="sidebar_toggle">
								<i class="fa fa-bars"></i>
							</button>
							<!-- <div class="logo_section">
								<a href="index.html"><img class="img-responsive" th:src="@{/images/logo/logoadm.png}"
										alt="#" /></a>
							</div> -->
							<div class="right_topbar">
								<div class="icon_info">
									<ul>
										<li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a>
										</li>
										<li><a href="#"><i class="fa fa-question-circle"></i></a></li>
										<li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a>
										</li>
									</ul>

									<ul class="user_profile_dd" th:object="${#request.userPrincipal}">

										<li><a class="dropdown-toggle" data-toggle="dropdown"><img
													class="img-responsive rounded-circle"
													th:src="@{/assets/images/logo/logo_icon.png}" alt="#" /><span
													class="name_user"></span></a>
											<div class="dropdown-menu">
												<a class="dropdown-item" th:href="@{/logout}"><span>Đăng xuất</span>
													<i class="fa fa-sign-out"></i></a>
											</div>
										</li>
									</ul>

								</div>
							</div>
						</div>
					</nav>
				</div>
				<!-- end topbar -->
				<!-- View layout -->
				<main th:replace="${view}"></main>
				<!--end view layout -->
				<!-- footer -->
			</div>
			<!-- end dashboard inner -->
		</div>
	</div>

	<!-- Thư viện xuất file excel -->
	<script th:src="@{/assets/js/table2excel.js}"></script>
	<script th:inline="javascript">
		function myCustomFunction() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime +
				'</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("myCustomFunction()", 1000);

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}
		document.addEventListener("DOMContentLoaded", function () {
			myCustomFunction();
		});
	</script>
	<!-- Thư viện xuất file pdf -->
	<script th:src="@{/assets/js/html2pdf.bundle.min.js}"></script>

	<!-- jQuery -->

	<script th:src="@{/assets/js/popper.min.js}"></script>

	<script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>

	<!-- wow animation -->


	<!-- select country -->
	<script th:src="@{/assets/js/bootstrap-select.js}"></script>

	<!-- owl carousel -->
	<script th:src="@{/assets/js/owl.carousel.js}"></script>

	<!-- chart js -->

	<script th:src="@{/assets/js/chart.js}"></script>
	<script th:src="@{/assets/js/chart_custom_style1.js}"></script>
	<script th:src="@{/assets/js/utils.js}"></script>

	<script th:src="@{/assets/js/pace.min.js}"></script>

	<!-- nice scrollbar -->
	<script th:src="@{/assets/js/perfect-scrollbar.min.js}"></script>

	<script type="text/javascript" th:src="@{/assets/plugins/jquery.dataTables.min.js}"></script>


	<script type="text/javascript" th:src="@{/assets/plugins/dataTables.bootstrap.min.js}"></script>

	<!-- custom js -->
	<script th:src="@{/assets/js/custom.js}"></script>
	<!-- Đoạn mã JavaScript sử dụng Thymeleaf -->


</body>

</html>