<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Thêm Brand mới</title>

</head>

<body>
    <main class="app-content" ng-controller=category-controller>
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/qlsanpham}">Danh
                        sách sản phẩm</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/add_product}">Thêm
                        sản phẩm</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Tạo Loại sản phẩm</h3>
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-4">
                                <a ng-click="addCategory()" class="btn btn-add btn-sm">Lưu lại</a>
                                <a class="btn btn-info btn-sm">Reset</a>
                            </div>

                        </div>
                        <form class="row" method="post" enctype="multipart/form-data">
                            <div class="form-group col-md-3">
                                <label class="control-label">Mã loại </label> <input class="form-control" type="text"
                                    ng-model="newCate.categoryID" placeholder="Mã loại" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Tên loại</label> <input class="form-control" type="text"
                                    ng-model="newCate.categoryName" placeholder="Tên loại">
                                <i class="mgs_errors"></i><br>
                                <i class="mgs_errors"></i><br>
                            </div>
                            <!-- <div class="form-group col-md-3">
                                <input type="radio" id="active" name="active" ng-value="true" ng-model="newCate.active"
                                    ng-required="true" /> <label for="admin">On</label><br>
                                <input type="radio" id="active" name="active" ng-value="false" ng-model="newCate.active"
                                    ng-required="true" /> <label for="user">Off</label><br>
                                <div ng-messages="form.status.$error" ng-if="!form.status.$dirty">
                                    <div class="text-danger" ng-message="required">Vui lòng chọn
                                        trạng thái!! </div>
                                </div>
                            </div> -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>





</body>

</html>