<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Thêm sản phẩm mới</title>

</head>

<body>
	<main class="app-content">
		<noscript>
			<h2>Ohh! Trình duyệt của bạn không hỗ trợ Javascript</h2>
		</noscript>

		</div>
		<form class="row" th:action="@{/admin/addsanpham/save}" method="post" th:object="${sp}"
			enctype="multipart/form-data">
			<div class="form-group col-md-3">
				<label class="control-label">Mã sản phẩm </label> <input class="form-control" type="number"
					placeholder="" disabled="disabled" th:field="*{productID}">

			</div>
			<div class="form-group col-md-3">
				<label class="control-label">Tên sản phẩm</label> <input class="form-control" type="text"
					th:field="*{productName}">
				<i th:errors="*{productName}" class="mgs_errors"></i><br>
				<i th:text="${loitensp}" class="mgs_errors"></i><br>
			</div>
			<div class="form-group  col-md-3">
				<label class="control-label">Số lượng</label> <input class="form-control" type="number" min="0"
					id="quantity" th:field="*{quantity}">
				<i th:errors="*{quantity}" class="mgs_errors"></i><br>
			</div>
			<div class="form-group col-md-3">
				<label class="control-label">Giá bán</label> <input class="form-control" type="number"
					th:field="*{price}">
				<i th:errors="*{price}" class="mgs_errors"></i><br>
			</div>
			<div class="form-group col-md-4 ">
				<label for="exampleSelect1" class="control-label">Tình
					trạng</label> <select class="form-control" id="tinhtrangselect" th:field="*{active}">
					<option value="">-- Chọn tình trạng --</option>

					<option value="true">Còn hàng</option>
					<option value="false">Hết hàng</option>
				</select>
				<i th:errors="*{active}" class="mgs_errors"></i><br>
			</div>
			<div class="form-group col-md-4 ">

				<label for="exampleSelect1" class="control-label">Nhà cung cấp</label>
				<select class="form-control" id="hangSanXuatSelect" name="hangsanxuat" th:field="*{brand}">
					<option value="">-- Chọn nhà cung cấp --</option>
					<option th:each="hsx : ${listhsx}" th:text="${hsx.brandName}" th:value="${hsx.brandID}">
					</option>
				</select>
				<i th:errors="*{brand}" class="mgs_errors"></i><br>
			</div>
			<div class="form-group col-md-12">
				<label class="control-label">Ảnh sản phẩm</label><br> <input type="file" name="image">
				<i th:text="${image}" class="mgs_errors"></i><br>

			</div>
			<div class="form-group col-md-12">
				<label class="control-label">Mô tả sản phẩm</label>
				<textarea class="form-control" name="description" id="description" th:field="*{description}"></textarea>
				<script>
					CKEDITOR.replace('description');
				</script>
				<i th:errors="*{description}" class="mgs_errors"></i><br>
			</div>
			<button class="btn btn-save ml-3" type="submit">Lưu lại</button>

			<a class="btn btn-cancel ml-3" th:href="@{/addsanpham}">Reset</a>
		</form>
		<div id="username-page">
			<div class="username-page-container">
				<h1 class="title">Tên của bạn</h1>
				<form id="usernameForm" name="usernameForm">
					<div class="form-group">
						<input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
					</div>
					<div class="form-group">
						<button type="submit" class="accent username-submit">Bắt Đầu Chat</button>
					</div>
				</form>
			</div>
		</div>

		<div id="chat-page" class="hidden">
			<div class="chat-container">
				<div class="chat-header">
					<h2>Chào mừng đến với app chat sử dung WebSocket</h2>
				</div>
				<div class="connecting">
					Kết nối...
				</div>
				<ul id="messageArea">

				</ul>
				<form id="messageForm" name="messageForm">
					<div class="form-group">
						<div class="input-group clearfix">
							<input type="text" id="message" placeholder="Type a message..." autocomplete="off"
								class="form-control" />
							<button type="submit" class="primary">Gửi</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</main>
	<!-- Model đồ hãng cung cấp -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Thêm mới nhà cung cấp</h5>
				</div>
				<div class="modal-body">
					<form th:action="@{/admin/addsanpham/themhang}" method="post" th:object="${hsx}"
						enctype="multipart/form-data">
						<div class="form-row">
							<div class="col">
								<label class="control-label">Mã hãng:</label> <input type="text" class="form-control"
									placeholder="Mã hãng" disabled="disabled">

								<label class="control-label">Hình ảnh logo:</label> <input type="file"
									class="form-control" name="hinh_hang">
								<i th:text="${image}" class="mgs_errors"></i><br>
								<label class="control-label">Tên hãng:</label> <input type="text" class="form-control"
									name="">
								<i th:text="${brandName}" class="mgs_errors"></i><br>
							</div>

						</div>
						<div class="form-group mt-3">
							<button class="btn btn-save" type="submit">Lưu lại</button>
							<a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>




</body>

</html>