<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
<meta charset="UTF-8">
<title>Quản lý khuyến mãi</title>
</head>

<body>
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>Tạo
							khuyến mãi</a></li>
			</ul>
			<div id="clock"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<form th:action="@{/admin/qlkhuyenmai/addPromotion/add}"
							th:object="${promotion}" method="post">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Tên khuyến mãi</label> <input name="name" type="text"
												class="form-control" th:field="*{name}">
										</div>
										<div class="form-group">
											<label>Chiết khấu cho khách</label> <input
												name="discountPercent" type="text" class="form-control"
												th:field="*{discountPercent}">
										</div>
										<div class="form-group">
											<label>Giá trị tối thiểu đơn hàng</label> <input
												name="minOrderAmount" type="text" class="form-control"
												th:field="*{minOrderAmount}">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
    
										<label>Trạng thái</label>
										<div class="form-group bg-light p-2">
											<div class="radio-group">
												<input type="radio" id="true" name="status" value="True"
													th:checked="${promotion.status == 'True'}"> <label
													for="true">Đang hoạt động</label> <input type="radio"
													id="false" name="status" value="False"
													th:checked="${promotion.status == 'False'}"> <label
													for="false">Ngừng hoạt động</label>
											</div>
										</div>
										
										<div class="form-group p-2"
											style="position: absolute; bottom: 0; right: 0;">
											<button type="submit" class="btn btn-success"
												style="font-size: 17px; background: #cf6125;">
												<i class="fa fa-floppy-o mr-2"></i> Lưu
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>
