<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8" />
    <title>Quản lý đơn hàng</title>
</head>

<body>
    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p><b>[(${slsp})] sản phẩm</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p><b>[(${slhd})] đơn hàng</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                    <div class="info">
                        <h4>Bị tạm khóa</h4>
                        <p><b>[(${tkhk})] tài khoản khách hàng</b></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                    <div class="info">
                        <h4>Tổng thu nhập</h4>
                        <p><b th:text="${#numbers.formatDecimal(tthoadon, 1, 'POINT', 0, 'DEFAULT')+'đ'}"></b></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-tag-x'></i>
                    <div class="info">
                        <h4>Hết hàng</h4>
                        <p><b>[(${slspht})] sản phẩm</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt'></i>
                    <div class="info">
                        <h4>Đơn hàng hủy</h4>
                        <p><b>[(${sldhh})] đơn hàng</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th><span>Mã sản phẩm</span></th>
                                    <th><span>Tên sản phẩm</span></th>
                                    <th><span>Giá tiền</span></th>
                                    <th><span>Số lượng bán</span></th>
                                    <th><span>Hãng phân phối</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="itemsp : ${listspbc}">
                                    <td th:text="${itemsp[0]}"></td>
                                    <td th:text="${itemsp[1]}"></td>
                                    <td th:text="${#numbers.formatDecimal(itemsp[2], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
                                    </td>
                                    <td th:text="${itemsp[3]}"></td>
                                    <td th:text="${itemsp[4]}"></td>


                                    <!-- //<td>Bàn ăn</td> -->
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>ID đơn hàng</th>
                                    <th>Khách hàng</th>
                                    <th>Đơn hàng</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MD0837</td>
                                    <td>Triệu Thanh Phú</td>
                                    <td>Ghế làm việc Zuno, Bàn ăn gỗ Theresa</td>
                                    <td>2 sản phẩm</td>
                                    <td>9.400.000 đ</td>
                                </tr>
                                <tr>
                                    <td>MĐ8265</td>
                                    <td>Nguyễn Thị Ngọc Cẩm</td>
                                    <td>Ghế ăn gỗ Lucy màu trắng</td>
                                    <td>1 sản phẩm</td>
                                    <td>3.800.000 đ</td>
                                </tr>
                                <tr>
                                    <td>MT9835</td>
                                    <td>Đặng Hoàng Phúc</td>
                                    <td>Giường ngủ Jimmy, Bàn ăn mở rộng cao cấp Dolas, Ghế làm việc Zuno</td>
                                    <td>3 sản phẩm</td>
                                    <td>40.650.000 đ</td>
                                </tr>
                                <tr>
                                    <td>ER3835</td>
                                    <td>Nguyễn Thị Mỹ Yến</td>
                                    <td>Bàn ăn mở rộng Gepa</td>
                                    <td>1 sản phẩm</td>
                                    <td>16.770.000 đ</td>
                                </tr>
                                <tr>
                                    <td>AL3947</td>
                                    <td>Phạm Thị Ngọc</td>
                                    <td>Bàn ăn Vitali mặt đá, Ghế ăn gỗ Lucy màu trắng</td>
                                    <td>2 sản phẩm</td>
                                    <td>19.770.000 đ</td>
                                </tr>
                                <tr>
                                    <td>QY8723</td>
                                    <td>Ngô Thái An</td>
                                    <td>Giường ngủ Kara 1.6x2m</td>
                                    <td>1 sản phẩm</td>
                                    <td>14.500.000 đ</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Tổng cộng:</th>
                                    <td>104.890.000 đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">SẢN PHẨM ĐÃ HẾT</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th> <span>Mã sản phẩm</span></th>
                                    <th> <span>Tên sản phẩm</span></th>
                                    <!-- <th> <span>Ảnh</span></th> -->
                                    <th> <span>Số lượng</span></th>
                                    <th> <span>Tình trạng</span></th>
                                    <th> <span>Giá tiền</span></th>
                                    <th> <span>Hãng cung cấp</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="itemspht :${listspht}">
                                    <td th:text="${itemspht.productID}"></td>
                                    <td th:text="${itemspht.productName}"></td>
                                    <!-- <td><img th:src="@{'/images/sanpham/' + ${itemspht.hinhanh}}" alt="" width="100px;">
                                    </td> -->
                                    <td th:text="${itemspht.quantity}"></td>
                                    <td><span class="badge bg-success" th:block th:if="${itemspht.active == true}">Còn
                                            hàng</span> <span class="badge bg-danger" th:block
                                            th:unless="${itemspht.active == true}">Hết hàng</span></td>

                                    <td
                                        th:text="${#numbers.formatDecimal(itemspht.price, 1, 'POINT', 0, 'DEFAULT')+'đ'}">
                                    </td>
                                    <td th:text="${itemspht.brand.brandName}    "></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>





    </main>


</body>

</html>