<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Quản lý khách hàng</title>
	<!-- AngularJS -->

</head>

<body>

	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>Chi
							tiết khyến mãi</a></li>
			</ul>
			<div id="clock"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

							<div class="row">

								<div class="col-sm-12">
									<div class="row element-button">
										<div class="col-sm-2">
											<a id="toggleButton" class="btn btn-add btn-sm" th:href="@{'/admin/qlkhuyenmai'}"> <i
													class="fa fa-arrow-left" style="margin-right: 5px;"></i>Quay
												lại bảng
											</a>
										</div>

										<div class="col-sm-2"></div>
									</div>
									<form action="/admin/qlkhuyenmai/updata" class="row"
										th:action="@{'/admin/qlkhuyenmai/updata/'+${items.id}}" th:object="${items}" method="post">


										<div class="container">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Tên khuyến mãi</label> <input name="name" type="text" class="form-control"
															th:field="*{name}">
													</div>
													<div class="form-group">
														<label>Chiết khấu cho khách</label> <input name="discountPercent" type="text"
															class="form-control" th:field="*{discountPercent}" readonly="readonly">
													</div>
													<div class="form-group">
														<label>Giá trị tối thiểu đơn hàng</label> <input name="minOrderAmount" type="text"
															class="form-control" th:field="*{minOrderAmount}" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Ngày bắt đầu</label> <input name="usedDates" type="datetime-local"
															class="form-control" th:value="${items.usedDates}">
													</div>
													<div class="form-group">
														<label>Ngày kết thúc</label> <input name="dateEnd" type="datetime-local"
															class="form-control" th:value="${items.dateEnd}">
													</div>
													<label>Người dùng lâu năm</label>
													<div class="form-group bg-light p-2">
														<div class="radio-group">
															<input type="radio" id="true" name="olduser" value="True"
																th:checked="${items.olduser == true}" readonly="readonly"> <label for="true">Bật</label>
															<input type="radio" id="false" name="olduser" value="False"
																th:checked="${items.olduser == false}" readonly="readonly"> <label
																for="false">Tắt</label>
														</div>
													</div>

													<div class="form-group">
														<button type="submit" class="btn btn-success" style="font-size: 17px; background: #cf6125;">
															<i class="fa fa-floppy-o mr-2"></i> Lưu
														</button>
													</div>
												</div>
											</div>
										</div>

									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</main>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>

</body>


</html>