<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8" />
    <title>Quản lý đơn hàng</title>
</head>

<body>

    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file" type="button" title="In"
                                    onclick="myApp.printTable()"><i class="fa fa-print"></i> In dữ liệu</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button"
                                    title="Sao chép"><i class="fa fa-copy"></i>
                                    Sao chép</a>
                            </div>

                            <div class="col-sm-2">
                                <a class="btn btn-excel btn-sm export" title="Xuất file excel"><i
                                        class="fa fa-file-excel-o"></i>
                                    Xuất Excel</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất file pdf"><i
                                        class="fa fa-file-pdf-o"></i> Xuất PDF</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                        class="fa fa-trash-o"></i>
                                    Xóa tất cả </a>
                            </div>
                        </div>

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="10"><input type="checkbox" id="all"></th>
                                    <th><span>ID</span></th>
                                    <th width="150px"><span>Khách hàng</span></th>
                                    <th width="80px"><span>Tổng tiền</span></th>
                                    <th width="170px"><span>Địa chỉ</span></th>
                                    <th width="50px"><span>Điện thoại</span></th>
                                    <th><span>Ngày mua</span></th>
                                    <th><span>Ghi chú</span></th>
                                    <th><span>Tình trạng</span></th>
                                    <th><span>Tình trạng đơn hàng</span></th>
                                    <th width="80px"><span>Tính năng</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hd : ${listhd}">
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td th:text="${hd.orderId}"></td>
                                    <td th:text="${hd.name}"></td>
                                    <td
                                        th:text="${#numbers.formatDecimal(hd.totalAmount, 1, 'POINT', 0, 'DEFAULT')+'đ'}">
                                    </td>
                                    <td th:text="${hd.address}"></td>
                                    <td th:text="${hd.phone}"></td>
                                    <td th:text="${#dates.format(hd.orderDate,'dd-MM-yyyy')}"></td>
                                    <td th:text="${hd.note}"></td>

                                    <td th:text="${hd.statustt ?'Đã thanh toán':'Chưa thanh toán'}"></td>


                                    <td>
                                        <span th:if="${hd.statushd == 1}" class="badge bg-info">Chờ xác nhận</span>
                                        <span th:if="${hd.statushd == 2}" class="badge bg-warning">Đã xác nhận
                                        </span>
                                        <span th:if="${hd.statushd == 3}" class="badge bg-warning">Đang giao
                                        </span>
                                        <span th:if="${hd.statushd == 4}" class="badge bg-success">Hoàn thành</span>
                                        <span th:if="${hd.statushd == 5}" class="badge bg-danger">Đã hủy</span>
                                    </td>



                                    <td>
                                        <a class="btn btn-primary btn-sm "
                                            th:href="@{'/admin/xemhoadonct/'+${hd.orderId}}"><i class="fa fa-eye"
                                                aria-hidden="true"></i></a>

                                        <a class="btn btn-add btn-sm settt" th:attr="data-mahd=${hd.orderId}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="false"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Modal
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>