<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8" />
    <title>Quản lý đơn hàng</title>
</head>

<body>

    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file" type="button" title="In"
                                    onclick="myApp.printTable()"><i class="fa fa-print"></i> In dữ liệu</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button"
                                    title="Sao chép"><i class="fa fa-copy"></i>
                                    Sao chép</a>
                            </div>

                            <div class="col-sm-2">
                                <a class="btn btn-excel btn-sm export" title="Xuất file excel"><i
                                        class="fa fa-file-excel-o"></i>
                                    Xuất Excel</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất file pdf"><i
                                        class="fa fa-file-pdf-o"></i> Xuất PDF</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                        class="fa fa-trash-o"></i>
                                    Xóa tất cả </a>
                            </div>
                        </div>

                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th width="10"><input type="checkbox" id="all"></th>
                                    <th><span>ID</span></th>
                                    <th width="150px"><span>Khách hàng</span></th>
                                    <th width="80px"><span>Tổng tiền</span></th>
                                    <th width="170px"><span>Địa chỉ</span></th>
                                    <th width="50px"><span>Điện thoại</span></th>
                                    <th><span>Ngày mua</span></th>
                                    <th><span>Ghi chú</span></th>
                                    <th><span>Tình trạng</span></th>
                                    <th><span>Tình trạng đơn hàng</span></th>
                                    <th width="80px"><span>Tính năng</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hd : ${listhd}">
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td th:text="${hd.orderId}"></td>
                                    <td th:text="${hd.name}"></td>
                                    <td
                                        th:text="${#numbers.formatDecimal(hd.totalAmount, 1, 'POINT', 0, 'DEFAULT')+'đ'}">
                                    </td>
                                    <td th:text="${hd.address}"></td>
                                    <td th:text="${hd.phone}"></td>
                                    <td th:text="${#dates.format(hd.orderDate,'dd-MM-yyyy')}"></td>
                                    <td th:text="${hd.note}"></td>

                                    <td th:text="${hd.statustt ?'Đã thanh toán':'Chưa thanh toán'}"></td>
                                    <td th:text="${hd.statushd == 1 ? 'Dã xác nhận' : 'Chờ xác nhận'}"></td>

                                    <td>
                                        <a class="btn btn-primary btn-sm "
                                            th:href="@{'/admin/xemhoadonct/'+${hd.orderId}}"><i class="fa fa-eye"
                                                aria-hidden="true"></i></a>
                                        <a class="btn btn-add btn-sm settt" th:attr="data-mahd=${hd.orderId}"
                                            th:if="${hd.statustt ==true}"> <i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal hiển thị chi tiết sản phẩm -->
    <!-- 
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="hdctModal"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin chi tiết đơn hàng</h5>

                </div>
                <div class="modal-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>

                                <th width="10"><input type="checkbox" id="all"></th>
                                <th><span>Tên sản phẩm</span></th>
                                <th><span>Số lượng </span></th>
                                <th><span>Giá sản phẩm </span></th>
                                <th><span>Tổng tiền</span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hdct : ${listhdct}">
                                <td width="10"><input type="checkbox" name="check1" value="1"></td>

                                <td th:text="${hdct.product.productName}"></td>
                                <td th:text="${hdct.quantity}"></td>
                                <td th:text="${#numbers.formatDecimal(hdct.price, 1, 'POINT', 0, 'DEFAULT')+'đ'}"></td>
                                <td
                                    th:text="${#numbers.formatDecimal(hdct.quantity * hdct.price, 1, 'POINT', 0, 'DEFAULT')+'đ'}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

</body>

</html>