<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Bảng điều khiển</title>
</head>

<body>
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="app-title">
					<ul class="app-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="#"><b>Sản phẩm bán chạy</b></a></li>
					</ul>
					<div id="clock"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Trái -->
			<div class="col-md-12">
				<div class="row">
					<!-- col-6 -->
					<div class="col-md-6">
						<div class="widget-small primary coloured-icon">
							<!-- <i ><a href=""></a></i> -->
							<img style="width: 20%;" th:src="@{'/assets/images/carousel/'+${listspbc[0][6]}}" alt="">
							<!-- <p th:text=""></p> -->
							<div class="info">
								<h4>Sản phẩm bán chạy nhất</h4>
								<p>
									<b th:text="${listspbc[0][1]}"></b>
								</p>
								<p class="info-tong" style="font-size: 25px;"
									th:text="'Tổng số sản phẩm được bán: '+ ${listspbc[0][3]}">
								</p>
							</div>
						</div>
					</div>
					<!-- col-6 -->
					<div class="col-md-6">
						<div class="widget-small warning coloured-icon">
							<img style="width: 20%;" th:src="@{'/assets/images/carousel/'+${listspbctheongay[0][7]}}"
								alt="">
							<div class="info">
								<h4 th:if="${ngay2 == null}" th:text="'sản phẩm bán chạy nhất tháng '+${ngay1}">
								</h4>
								<h4 th:if=" ${ngay1==null}" th:text="'sản phẩm bán chạy nhất tháng '+${ngay2}">
								</h4>

								<div th:each=" itemsp : ${listspbctheongay}">
									<!-- <img style="width: 20%;" th:src="@{'/assets/images/carousel/'+${itemsp[7]}}" alt=""> -->
									<p>
										<b th:text="${itemsp[1]}"></b>
									</p>
									<p class="info-tong" style="font-size: 25px;"
										th:text="'Tổng số sản phẩm được bán: '+ ${itemsp[2]}">
								</div>
							</div>
						</div>
					</div>
					<!-- col-6 -->
					<div class="col-md-6">
						<div class="widget-small info coloured-icon">
							<img style="width: 20%;" th:src="@{'/assets/images/carousel/'+${listspbctheomonth[0][7]}}">

							<div class="info">
								<h4 th:if="${thang1 == null}">sản phẩm bán chạy nhất tháng [(${thangHomNay})]</h4>
								<div>
									<!-- <img style="width: 20%;" th:src="@{'/assets/images/carousel/'+${itemsp[7]}}" alt=""> -->
									<p>
										<b th:text="${listspbctheomonth[0][1]}"></b>
									</p>
									<p class="info-tong" style="font-size: 25px;"
										th:text="'Tổng số sản phẩm được bán: '+ ${listspbctheomonth	[0][2]}">
									</p>
								</div>

							</div>
						</div>
					</div>
					<!-- col-6 -->
					<!-- <div class="col-md-6">
						<div class="widget-small danger coloured-icon">
							<i class='icon bx bxs-error-alt fa-3x'></i>
							<div class="info">
								<h4>Hết hàng</h4>
								<p>

								</p>
								<p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<!--Right-->
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="tile">
							<div>
								<h3 class="tile-title">SẢN PHẨM BÁN CHẠY NHẤT</h3>
							</div>
							<div class="tile-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><span>Mã sản phẩm</span></th>
											<th><span>Tên sản phẩm</span></th>
											<th><span>Giá tiền</span></th>
											<th><span>Số lượng bán</span></th>
											<th><span>Hãng phân phối</span></th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr th:each="itemsp : ${listspbc}">
											<td th:text="${itemsp[0]}"></td>
											<td th:text="${itemsp[1]}"></td>
											<td
												th:text="${#numbers.formatDecimal(itemsp[2], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
											</td>
											<td th:text="${itemsp[3]}"></td>
											<td th:text="${itemsp[4]}"></td>
										</tr> -->
										<!-- Chỉ hiện sản phẩm bán chạy nhất của cửa hàng -->
										<tr>
											<td th:text="${listspbc[0][0]}"></td>
											<td th:text="${listspbc[0][1]}"></td>
											<td
												th:text="${#numbers.formatDecimal(listspbc[0][2], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
											</td>
											<td th:text="${listspbc[0][3]}"></td>
											<td th:text="${listspbc[0][4]}"></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- SẢN PHẨM BÁN CHẠY THEO Tháng -->
					<div class="col-md-12">
						<div class="tile">
							<div>
								<h3 class="tile-title">SẢN PHẨM BÁN CHẠY THEO THÁNG</h3>
							</div>
							<div class="col-sm-6">
								<form th:action="@{/admin/spbanchay}" method="get" id="formthang">
									<select class="form-control" name="thang" onchange="submitFormSPBC(this)">
										<option value="" th:if="${thang1 != null}"
											th:text="'Tháng đã chọn: ' + ${thang1}">
										</option>
										<option value="" th:else th:text="Tháng "> </option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</form>
							</div>
							<br>
							<div class="tile-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><span>Mã sản phẩm</span></th>
											<th><span>Tên sản phẩm</span></th>
											<th><span>Số lượng bán</span></th>
											<th><span>Giá tiền</span></th>
											<th><span>Hãng phân phối</span></th>
											<th><span>Ngày</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="itemsp : ${listspbctheomonth}">
											<td th:text="${itemsp[0]}"></td>
											<td th:text="${itemsp[1]}"></td>
											<td th:text="${itemsp[2]}"></td>
											<td
												th:text="${#numbers.formatDecimal(itemsp[3], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
											</td>
											<td th:text="${itemsp[5]}"></td>
											<td th:text="${#dates.format(itemsp[6], 'dd/MM/yyyy')}"></td>

										</tr>
										<!-- Chỉ hiện sản phẩm bán chạy nhất của cửa hàng -->
										<!-- <tr>
											<td th:text="${listspbc[0][0]}"></td>
											<td th:text="${listspbc[0][1]}"></td>
											<td
												th:text="${#numbers.formatDecimal(listspbc[0][2], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
											</td>
											<td th:text="${listspbc[0][3]}"></td>
											<td th:text="${listspbc[0][4]}"></td>
											<td th:text="${listspbc[0][5]}"></td>
											<td th:text="${listspbc[0][5]}"></td>
										</tr> -->

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- SẢN PHẨM BÁN CHẠY THEO NGÀY -->
					<div class="col-md-12">
						<div class="tile">
							<div>
								<h3 class="tile-title">SẢN PHẨM BÁN CHẠY THEO NGÀY</h3>
							</div>
							<div class="col-sm-6">
								<form th:action="@{/admin/spbanchay}" method="get">
									<label for="ngay">Ngày:</label>
									<input type="date" id="ngay" name="ngay">
									<button type="submit">Tìm kiếm</button>
									<!-- <h4 th:text="${#dates.format(ngay1, 'dd/MM/yyyy')}"></h4> -->
									<br>
									<br>
									<span>
										<h4 th:if="${ngay1 != null}" th:text="'Ngày đã chọn : '+${ngay1}"> </h4>
									</span>
									<br>
									<span>
										<h4 th:if="${ngay2 != null}" th:text="'Ngày đã chọn : '+${ngay2}"> </h4>
									</span>

								</form>
							</div>
							<br>
							<div class="tile-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><span>Mã sản phẩm</span></th>
											<th><span>Tên sản phẩm</span></th>
											<th><span>Số lượng bán</span></th>
											<th><span>Giá tiền</span></th>
											<th><span>Hãng phân phối</span></th>
											<th><span>Ngày</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="itemsp : ${listspbctheongay}">
											<td th:text="${itemsp[0]}"></td>
											<td th:text="${itemsp[1]}"></td>
											<td th:text="${itemsp[2]}"></td>
											<td
												th:text="${#numbers.formatDecimal(itemsp[3], 1, 'POINT', 0, 'DEFAULT')+'đ'}">
											</td>
											<td th:text="${itemsp[6]}"></td>
											<td th:text="${#dates.format(itemsp[5], 'dd/MM/yyyy')}"></td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>