<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Thêm sản phẩm mới</title>

</head>

<body>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/qlsanpham}">Danh
                        sách sản phẩm</a></li>
                <li class="breadcrumb-item"><a>Cập nhật
                        sản phẩm</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Cập nhật sản phẩm</h3>
                    <div class="tile-body">

                        <form class="row" th:action="@{/admin/updatesp/save}" method="post" th:object="${sp}"
                            enctype="multipart/form-data">
                            <div class="form-group col-md-3">
                                <label class="control-label">Mã sản phẩm </label> <input class="form-control"
                                    type="number" placeholder="" th:field="*{masp}">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Tên sản phẩm</label> <input class="form-control"
                                    type="text" th:field="*{tensp}">
									<i th:errors="*{tensp}" class="mgs_errors"></i><br> 

                            </div>
                            <div class="form-group  col-md-3">
                                <label class="control-label">Số lượng</label> <input class="form-control" type="number"
                                    id="soluong" th:field="*{soluong}">
									<i th:errors="*{soluong}" class="mgs_errors"></i><br> 

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Giá bán</label> <input class="form-control" type="text"
                                    th:field="*{giasp}">
									<i th:errors="*{giasp}" class="mgs_errors"></i><br> 

                            </div>
                            <div class="form-group col-md-4 ">
                                <label for="exampleSelect1" class="control-label">Tình
                                    trạng</label> <select class="form-control" id="tinhtrangselect"
                                    th:field="*{trangthaisp}">
                                    <option value="">-- Chọn tình trạng --</option>

                                    <option value="true">Còn hàng</option>
                                    <option value="false">Hết hàng</option>
                                </select>
								<i th:errors="*{trangthaisp}" class="mgs_errors"></i><br> 

                            </div>

                            <div class="form-group col-md-4 ">
                                <label for="exampleSelect1" class="control-label">Nhà
                                    cung cấp</label>
                                <select class="form-control" id="hangSanXuatSelect" name="hangsanxuat">
                                    
                                    <option th:each="hsx : ${listhsx}" th:text="${hsx.tenhang}" th:value="${hsx.mahang}"
                                        th:selected="(${hsx.mahang} == *{hangsanxuat.mahang})"></option>
                                </select>
                              

                            </div>


                            <div class="form-group col-md-4 ">
                                <label for="exampleSelect1" class="control-label">Xuất
                                    xứ </label> <select class="form-control " id="exampleSelect1" th:field="*{xuatsu}">
                                    <option value="">-- Chọn nơi xuất sứ --</option>
                                    <option value="Hoa Kỳ">Hoa Kỳ</option>
                                    <option value="Trung Quốc">Trung Quốc</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Việt Nam">Việt Nam</option>
                                    <option value="Ấn Độ">Ấn Độ</option>
                                    <option value="Taiwan">Taiwan</option>
                                    <option value="Nhật Bản">Nhật Bản</option>
                                    <option value="Châu Âu">Châu Âu</option>
                                    <option value="Hàn Quốc">Hàn Quốc</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="Indonesia">Indonesia</option>

                                </select>
								<i th:errors="*{xuatsu}" class="mgs_errors"></i><br> 

                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh sản phẩm</label><br> <input type="file" name="hinh_sp">

                                <i th:text="${message_img}" class="mgs_errors"></i><br>

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Mô tả sản phẩm</label>
                                <textarea class="form-control" name="mota" id="mota" th:field="*{mota}"></textarea>
                                <script>
                                    CKEDITOR.replace('mota');
                                </script>
								<i th:errors="*{mota}" class="mgs_errors"></i><br> 

                            </div>
                            <button class="btn btn-save ml-3">Lưu lại</button>
                            <a class="btn btn-cancel ml-3" th:href="@{/admin/qlsanpham}">Trở lại</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>


    <!-- Model đồ hãng cung cấp -->

</body>

</html>