<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="main">
      <div class="container" ng-controller="product-controller">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                    <tr>
                      <th class="goods-page-image">Ảnh</th>
                      <th class="goods-page-description">Tên sản phẩm</th>
                      <th class="goods-page-quantity">Số lượng</th>
                      <th class="goods-page-price">Giá </th>
                      <th class="goods-page-total" colspan="2">Tổng giá</th>
                    </tr>
                    <tr ng-repeat="item in cartItems">
                      <td class="goods-page-image">
                        <a href="javascript:;"><img ng-src="./assets/images/product/{{item.image}}"
                            alt="Berry Lace Dress"></a>
                      </td>
                      <td class="product-name">
                        <h3><a href="javascript:;" ng-click="goToSinglePage(item.productID)">{{item.productName}}</a>
                        </h3>
                      </td>
                      <td style="width: 50px;">
                        <div class="product-quantity">
                          <input type="number" pattern="[0-9]*" class="form-control" id="spinner" name="value" value="1"
                            min="1" max="200" step="1" ng-change="saveToLocalStorage()" ng-model="item.qty">
                        </div>
                        <div ng-if="item.qty > item.quantity" style="color: red;">
                          Số lượng sản phẩm trong kho không đủ!!!
                        </div>
                      </td>

                      <td class="goods-page-price">
                        <strong>{{ calculateDiscountedPrice(item) |number:0}}đ</strong>
                      </td>
                      <td class="goods-page-total">
                        <strong>{{(item.qty*calculateDiscountedPrice(item)) |number:0}}đ</strong>
                      </td>
                      <td class="del-goods-col">
                        <a class="del-goods" href="javascript:;" ng-click="removesp(item.productID)">&nbsp;</a>
                      </td>
                    </tr>
                    <tr ng-if="cartItems.length === 0">
                      <td colspan="6">
                        <h2>Không có sản phẩm trong giỏ hàng!!!</h2>
                      </td>
                      <td>
                        <a class="btn btn-default" th:href="@{/shop}">Tiếp tục mua sắm <i
                            class="fa fa-shopping-cart"></i></a>
                      </td>
                    </tr>
                  </table>

                </div>

                <div class="shopping-total">
                  <ul>
                    <li>
                      <em>Tổng tiền</em>
                      <strong class="price">{{totalAmount() |number: 0}}đ</strong>
                    </li>
                    <li>
                      <em>Phí giao hàng</em>
                      <strong class="price">0đ</strong>
                    </li>
                    <li class="shopping-total-price">
                      <em>Tổng cộng</em>
                      <strong class="price">{{totalAmount() |number: 0}}đ</strong>
                    </li>
                  </ul>
                </div>
              </div>
              <div>
                <a class="btn btn-primary" th:href="@{/checkout}">Tiến hàng thanh
                  toán <i class="fa fa-check"></i></a>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

  </main>
</body>

</html>