<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Đồ Gia dùng</title>
</head>

<body>
    <main ng-controller="product-controller">
        <div class="container">

            <!-- <img src="../assets/images/carousel/banner12.png" class="img-responsive" alt=""> -->

            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                </ol> -->

                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#"><img src="../assets/images/carousel/banner-1.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../assets/images/carousel/banner-2.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../assets/images/carousel/banner-3.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <img style="padding-top: 5px;" src="../assets/images/carousel/banner12.png" class="img-responsive" alt="">

            <div class="row m-5 border" style="padding-top: 50px;">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1><span>FLASH SALE <i class="fa fa-bolt" aria-hidden="true"></i></span></h1>
                        </div>
                        <div class="panel-body">
                            <!-- Carousel
                                ================================================== -->
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-3" ng-repeat="item in productSort |limitTo: 4"
                                                ng-if="item.active !== false">
                                                <!-- <div class="card">
                                                    <div class="card__content">
                                                        <div class="pi-img-wrapper">
                                                            <img style="height: 170px;"
                                                                ng-src="../assets/images/product/{{item.image}}"
                                                                class="img-responsive" alt="Berry Lace Dress">
                                                            <div>
                                                                <a href="../assets/images/product/{{item.image}}"
                                                                    class="btn btn-default fancybox-button">Zoom</a>
                                                            </div>
                                                        </div>
                                                        <h3 style="height: 40px;"><a
                                                                ng-click="goToProduct_Detail(item.productID)">{{item.productName}}</a>
                                                        </h3>
                                                        <div class="pi-price" style="margin: 15px;">
                                                            <strike ng-if="item.promotion">{{ item.price | number: 0 }}
                                                                đ</strike>
                                                            <span ng-show="!item.promotion">{{ item.price | number: 0 }}
                                                                đ</span>
                                                        </div><br>
                                                        <div ng-if="item.promotion" class="pi-price">
                                                            {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                        </div>
                                                        <a class="btn btn-default add2cart"
                                                            ng-click="addToCart(item.productID)">Add
                                                            to
                                                            cart</a>
                                                    </div>

                                                </div> -->
                                                <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                                                    <div class="card__image">
                                                      <img class="headband-image">
                                                      <div class="text-overlay">50%</div>
                                                      <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                                                        alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                                                      <!-- Các phần còn lại của mã HTML -->
                                                    </div>
                                                    <div class="card__content" style="margin-top: 30px;">
                                                      <span class="title" ng-click="goToSinglePage(item.productID)"
                                                        style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                                                        title="{{item.productName}}">
                                                        {{item.productName}}
                                                      </span>
                                                      <p class="pi-price">
                                                        <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                                                          đ</strike>
                                                        <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                                                          đ</span>
                                                      </p>
                                                      <div style="display: flex; align-items: center; justify-content: end;">
                                                        <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                                                          {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                        </div>
                                                        <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                                                          ng-click="selectProduct(item)">
                                                          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                                                            viewBox="0 0 448 512"><path fill="#8f8c8c"
                                                              d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                                          </svg>
                                                          <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                                                        </a>
                                                      </div>
                                                      <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                                                        ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                                                      </a>
                                                      <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                                                        style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                                                        Hết hàng</p>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3" ng-repeat="item in productSort"
                                                ng-if="$index >=4 && item.active !== false && $index < 9">
                                                <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                                                    <div class="card__image">
                                                      <img class="headband-image">
                                                      <div class="text-overlay">50%</div>
                                                      <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                                                        alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                                                      <!-- Các phần còn lại của mã HTML -->
                                                    </div>
                                                    <div class="card__content" style="margin-top: 30px;">
                                                      <span class="title" ng-click="goToSinglePage(item.productID)"
                                                        style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                                                        title="{{item.productName}}">
                                                        {{item.productName}}
                                                      </span>
                                                      <p class="pi-price">
                                                        <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                                                          đ</strike>
                                                        <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                                                          đ</span>
                                                      </p>
                                                      <div style="display: flex; align-items: center; justify-content: end;">                                                        <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                                                          {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                        </div>
                                                        <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                                                          ng-click="selectProduct(item)">
                                                          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                                                            viewBox="0 0 448 512"><path fill="#8f8c8c"
                                                              d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                                          </svg> -->
                                                          <!-- <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                                                        </a>
                                                      </div>
                                                      <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                                                        ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                                                      </a>
                                                      <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                                                        style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                                                        Hết hàng</p>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
                                        class="fa fa-chevron-left fa-2x"></i></a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i
                                        class="fa fa-chevron-right fa-2x"></i></a>

                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>
                            </div><!-- End Carousel -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SALE PRODUCT -->
            <br>
            <div class="panel">
                <div class="panel-heading">
                    <h1>TIVI</h1>
                    <!-- Nút để hiển thị thêm sản phẩm hoặc ẩn bớt sản phẩm -->
                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products | limitTo: productsToShow"
                        ng-if="item.active !== false && item.category.categoryID === 3">
                        <!-- <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img style="height: 193.46px;" ng-src="../assets/images/product/{{item.image}}"
                                    class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="../assets/images/product/{{item.image}}"
                                        class="btn btn-default fancybox-button">Zoom</a>

                                </div>
                            </div>
                            <h3 style="height: 40px;"><a
                                    ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                            <div class="pi-price" style="margin: 15px;">
                                <strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike>
                                <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                            </div><br>
                            <div ng-if="item.promotion" class="pi-price">
                                {{ calculateDiscountedPrice(item) | number: 0 }} đ
                            </div>
                            <a href="javascript:;" class="btn btn-default add2cart"
                                ng-click="addToCart(item.productID)">Add
                                to cart</a>
                        </div> -->
                        <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                            <div class="card__image">
                              <img class="headband-image">
                              <div class="text-overlay">50%</div>
                              <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                                alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                              <!-- Các phần còn lại của mã HTML -->
                            </div>
                            <div class="card__content" style="margin-top: 30px;">
                              <span class="title" ng-click="goToSinglePage(item.productID)"
                                style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                                title="{{item.productName}}">
                                {{item.productName}}
                              </span>
                              <p class="pi-price">
                                <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                                  đ</strike>
                                <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                                  đ</span>
                              </p>
                              <div style="display: flex; align-items: center; justify-content: end;">
                                <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                                  {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                </div>
                                <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                                  ng-click="selectProduct(item)">
                                  <!-- <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                                    viewBox="0 0 448 512"><path fill="#8f8c8c"
                                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                  </svg> -->
                                  <!-- <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                                </a>
                              </div>
                              <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                                ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                              </a>
                              <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                                style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                                Hết hàng</p>
                            </div>
                          </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" ng-click="showMoreProducts()"
                        ng-show="productsToShow < products.length">Show more</a>
                    <a class="btn btn-default" ng-click="showLessProducts()"
                        ng-show="productsToShow > productsPerPage">Show less</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h1>MÁY LẠNH</h1>
                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products |limitTo: 8"
                        ng-if="item.active !== false && item.category.categoryID === 1">
                        <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                            <div class="card__image">
                              <img class="headband-image">
                              <div class="text-overlay">50%</div>
                              <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                                alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                              <!-- Các phần còn lại của mã HTML -->
                            </div>
                            <div class="card__content" style="margin-top: 30px;">
                              <span class="title" ng-click="goToSinglePage(item.productID)"
                                style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                                title="{{item.productName}}">
                                {{item.productName}}
                              </span>
                              <p class="pi-price">
                                <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                                  đ</strike>
                                <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                                  đ</span>
                              </p>
                              <div style="display: flex; align-items: center; justify-content: end;">
                                <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                                  {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                </div>
                                <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                                  ng-click="selectProduct(item)">
                                  <!--  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                                    viewBox="0 0 448 512"><path fill="#8f8c8c"
                                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                  </svg>
                                 <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                                </a>
                              </div>
                              <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                                ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                              </a>
                              <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                                style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                                Hết hàng</p>
                            </div>
                          </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>

            </div>

            <!-- BEGIN SIDEBAR & CONTENT -->

            <div class="panel">
                <div class="panel-heading">
                    <h1>MÁY GIẶC</h1>
                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products"
                        ng-if="item.active !== false && item.category.categoryID == 21">
                        <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                            <div class="card__image">
                              <img class="headband-image">
                              <div class="text-overlay">50%</div>
                              <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                                alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                              <!-- Các phần còn lại của mã HTML -->
                            </div>
                            <div class="card__content" style="margin-top: 30px;">
                              <span class="title" ng-click="goToSinglePage(item.productID)"
                                style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                                title="{{item.productName}}">
                                {{item.productName}}
                              </span>
                              <p class="pi-price">
                                <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                                  đ</strike>
                                <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                                  đ</span>
                              </p>
                              <div style="display: flex; align-items: center; justify-content: end;">
                                <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                                  {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                </div>
                                <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                                  ng-click="selectProduct(item)">
                                  <!--  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                                    viewBox="0 0 448 512">
                                    <path fill="#8f8c8c"
                                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                  </svg>
                                 <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                                </a>
                              </div>
                              <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                                ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                              </a>
                              <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                                style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                                Hết hàng</p>
                            </div>
                          </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>

            </div>

            <div class="row">
                <!-- <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div> -->
                <!-- <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                    <li><a href="javascript:;">&laquo;</a></li>
                    <li><a href="javascript:;" ng-repeat="pageNumber in pageNumbers" ng-click="goToPage(pageNumber)">{{
                            pageNumber}}</a></li>
                    <li><a href="javascript:;">&raquo;</a></li>
                </ul>
            </div> -->
            </div>
        </div>
    </main>

</body>

</html>