<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Đồ Gia dùng</title>
</head>

<body>
    <main ng-controller="product-controller">
        <!-- BEGIN SLIDER -->
        <!-- END SLIDER -->
        <div class="container">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <img src="../assets/images/carousel/banner12.png" class="img-responsive" alt="">
            <!-- <img src="../assets/images/carousel/bannerxanh.png" class="img-responsive" alt=""> -->

            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#"><img src="../assets/images/carousel/bannerxanh.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../assets/images/carousel/b4.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <a href="#"><img src="../assets/images/carousel/banner_1.png" /></a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <div class="row m-5 border" style="padding-top: 50px;">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1><span>FLASH SALE <i class="fa fa-bolt" aria-hidden="true"></i></span></h1>
                        </div>
                        <div class="panel-body">
                            <!-- Carousel
                                ================================================== -->
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-3" ng-repeat="item in productSort |limitTo: 4"
                                                ng-if="item.active !== false">
                                                <!-- <div class="card">
                                                    <div class="card__content">
                                                        <div class="pi-img-wrapper">
                                                            <img style="height: 170px;"
                                                                ng-src="../assets/images/product/{{item.image}}"
                                                                class="img-responsive" alt="Berry Lace Dress">
                                                            <div>
                                                                <a href="../assets/images/product/{{item.image}}"
                                                                    class="btn btn-default fancybox-button">Zoom</a>
                                                            </div>
                                                        </div>
                                                        <h3 style="height: 40px;"><a
                                                                ng-click="goToProduct_Detail(item.productID)">{{item.productName}}</a>
                                                        </h3>
                                                        <div class="pi-price" style="margin: 15px;">
                                                            <strike ng-if="item.promotion">{{ item.price | number: 0 }}
                                                                đ</strike>
                                                            <span ng-show="!item.promotion">{{ item.price | number: 0 }}
                                                                đ</span>
                                                        </div><br>
                                                        <div ng-if="item.promotion" class="pi-price">
                                                            {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                        </div>
                                                        <a class="btn btn-default add2cart"
                                                            ng-click="addToCart(item.productID)">Add
                                                            to
                                                            cart</a>
                                                    </div>

                                                </div> -->
                                                <div class="card">
                                                    <div class="card__image">
                                                        <img style="height: 170px;"
                                                            ng-src="../assets/images/product/{{item.image}}"
                                                            class="img-responsive" alt="Berry Lace Dress">
                                                        <div>
                                                            <a href="../assets/images/product/{{item.image}}"
                                                                class="btn btn-default fancybox-button">Zoom</a>
                                                        </div>
                                                    </div>
                                                    <div class="card__content">
                                                        <span class="title">{{item.productName}}</span>
                                                        <div class="pi-price" style="margin: 15px;">
                                                            <strike ng-if="item.promotion">{{ item.price | number: 0 }}
                                                                đ</strike>
                                                            <span ng-show="!item.promotion">{{ item.price | number: 0 }}
                                                                đ</span>
                                                        </div><br>
                                                        <div ng-if="item.promotion" class="pi-price">
                                                            {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                        </div>
                                                        <a class="btn btn-default add2cart"
                                                            ng-click="addToCart(item.productID)">Add
                                                            to
                                                            cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3" ng-repeat="item in productSort"
                                                ng-if="$index >=4 && item.active !== false && $index < 9">
                                                <div class="product-item">
                                                    <div class="pi-img-wrapper">
                                                        <img style="height: 170px;"
                                                            ng-src="../assets/images/product/{{item.image}}"
                                                            class="img-responsive" alt="Berry Lace Dress">
                                                        <div>
                                                            <a href="../assets/images/product/{{item.image}}"
                                                                class="btn btn-default fancybox-button">Zoom</a>

                                                        </div>
                                                    </div>
                                                    <h3 style="height: 40px;"><a
                                                            ng-click="goToProduct_Detail(item.productID)">{{item.productName}}</a>
                                                    </h3>
                                                    <div class="pi-price" style="margin: 15px;">
                                                        <strike ng-if="item.promotion">{{ item.price | number: 0 }}
                                                            đ</strike>
                                                        <span ng-show="!item.promotion">{{ item.price | number: 0 }}
                                                            đ</span>
                                                    </div><br>
                                                    <div ng-if="item.promotion" class="pi-price">
                                                        {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                                    </div>
                                                    <a class="btn btn-default add2cart"
                                                        ng-click="addToCart(item.productID)">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
                                        class="fa fa-chevron-left fa-2x"></i></a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i
                                        class="fa fa-chevron-right fa-2x"></i></a>

                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>
                            </div><!-- End Carousel -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SALE PRODUCT -->
            <br>
            <div class="panel">
                <div class="panel-heading">
                    <h1>TIVI</h1>
                    <!-- Nút để hiển thị thêm sản phẩm hoặc ẩn bớt sản phẩm -->

                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products | limitTo: productsToShow"
                        ng-if="item.active !== false && item.category.categoryID === 3">
                        <!-- <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img style="height: 193.46px;" ng-src="../assets/images/product/{{item.image}}"
                                    class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="../assets/images/product/{{item.image}}"
                                        class="btn btn-default fancybox-button">Zoom</a>

                                </div>
                            </div>
                            <h3 style="height: 40px;"><a
                                    ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                            <div class="pi-price" style="margin: 15px;">
                                <strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike>
                                <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                            </div><br>
                            <div ng-if="item.promotion" class="pi-price">
                                {{ calculateDiscountedPrice(item) | number: 0 }} đ
                            </div>
                            <a href="javascript:;" class="btn btn-default add2cart"
                                ng-click="addToCart(item.productID)">Add
                                to cart</a>
                        </div> -->
                        <div class="card" style="width: auto; height: auto;">
                            <div class="card__image">
                                <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}"
                                    class="img-responsive" alt="Berry Lace Dress">
                                <!-- <div>
                                    <a href="../assets/images/product/{{item.image}}"
                                        class="btn btn-default fancybox-button">Zoom</a>
                                </div> -->
                            </div>
                            <div class="card__content" style="margin-top: 60px;">
                                <span class="title">{{item.productName}}</span>
                                <p class="pi-price" style="margin: 5px;">
                                    <strike ng-if="item.promotion">{{ item.price | number: 0 }}
                                        đ</strike>
                                    <span ng-show="!item.promotion">{{ item.price | number: 0 }}
                                        đ</span>
                                </p>
                                <!-- <div ng-if="item.promotion" class="pi-price" ng-bind="myContent"
                                    data-content="{{ myContent }}">
                                    {{ calculateDiscountedPrice(item) | number: 0 }} đ
                                </div> -->
                                <a class="btn btnaddtocart add2cart" ng-click="addToCart(item.productID)">Add
                                    to
                                    cart</a>
                            </div>
                        </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" ng-click="showMoreProducts()"
                        ng-show="productsToShow < products.length">Show more</a>
                    <a class="btn btn-default" ng-click="showLessProducts()"
                        ng-show="productsToShow > productsPerPage">Show less</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h1>MÁY LẠNH</h1>
                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products |limitTo: 8"
                        ng-if="item.active !== false && item.category.categoryID === 1">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img style="height: 193.46px;" ng-src="../assets/images/product/{{item.image}}"
                                    class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="../assets/images/product/{{item.image}}"
                                        class="btn btn-default fancybox-button">Zoom</a>

                                </div>
                            </div>
                            <h3 style="height: 40px;"><a
                                    ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                            <div class="pi-price" style="margin: 15px;">
                                <strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike>
                                <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                            </div><br>
                            <div ng-if="item.promotion" class="pi-price">
                                {{ calculateDiscountedPrice(item) | number: 0 }} đ
                            </div>
                            <a href="javascript:;" class="btn btn-default add2cart"
                                ng-click="addToCart(item.productID)">Add
                                to cart</a>
                        </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>

            </div>

            <!-- BEGIN SIDEBAR & CONTENT -->

            <div class="panel">
                <div class="panel-heading">
                    <h1>MÁY GIẶC</h1>
                </div>
                <div class="panel-body ">
                    <!-- Bắt đầu lặp qua sản phẩm -->
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products"
                        ng-if="item.active !== false && item.category.categoryID == 21">
                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img style="height: 193.46px;" ng-src="../assets/images/product/{{item.image}}"
                                    class="img-responsive" alt="Berry Lace Dress">
                                <div>
                                    <a href="../assets/images/product/{{item.image}}"
                                        class="btn btn-default fancybox-button">Zoom</a>

                                </div>
                            </div>
                            <h3 style="height: 40px;"><a
                                    ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                            <div class="pi-price" style="margin: 15px;">
                                <strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike>
                                <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                            </div><br>
                            <div ng-if="item.promotion" class="pi-price">
                                {{ calculateDiscountedPrice(item) | number: 0 }} đ
                            </div>
                            <a href="javascript:;" class="btn btn-default add2cart"
                                ng-click="addToCart(item.productID)">Add
                                to cart</a>
                        </div>
                    </div>
                    <!-- Kết thúc lặp qua sản phẩm -->
                </div>

            </div>

            <div class="row">
                <!-- <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div> -->
                <!-- <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                    <li><a href="javascript:;">&laquo;</a></li>
                    <li><a href="javascript:;" ng-repeat="pageNumber in pageNumbers" ng-click="goToPage(pageNumber)">{{
                            pageNumber}}</a></li>
                    <li><a href="javascript:;">&raquo;</a></li>
                </ul>
            </div> -->
            </div>
        </div>
    </main>

</body>

</html>