<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main ng-controller="product_detail-controller">
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Store</a></li>
          <li class="active">Cool green dress with red bell</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">


          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-7">
            <div class="product-page">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="product-main-image">
                    <img ng-src="../assets/images/product/{{product.image}}" alt="Cool green dress with red bell"
                      class="img-responsive" data-BigImgsrc="../assets/images/product/{{product.image}}">
                  </div>
                  <div class="product-other-images">
                    <a href="../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                    <a href="../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                    <a href=".../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h1>{{product.productName}}</h1>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <div class="pi-price" style="margin: 15px;">
                        <strike ng-if="product.promotion">{{ product.price | number: 0 }} đ</strike>
                        <span ng-show="!product.promotion">{{ product.price | number: 0 }} đ</span>
                      </div><br>
                      <strong ng-if="product.promotion" class="pi-price">
                        {{ calculateDiscountedPrice(product) | number: 0 }} đ
                      </strong>
                    </div>
                    <div class="availability">
                      Loại sản phẩm: <strong>{{product.category.categoryName}}</strong>
                    </div>
                  </div>
                  <div class="product-page-cart">
                    <div class="product-quantity">
                      <input id="product-quantity" type="number" value="1" ng-model="qty" class="form-control input-sm">
                    </div>
                    <button class="btnADDd btn-primary" type="button" ng-click="addToCartQty(product.productID)">Thêm
                      vào giỏ hàng</button>
                  </div>

                  <!-- <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                  </ul> -->
                </div>

                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#Description" data-toggle="tab">Description</a></li>
                    <li><a href="#Information" data-toggle="tab">Information</a></li>
                    <li><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Description">
                      <h4 ng-bind-html="product.description | unsafeHtml"></h4>
                    </div>
                    <div class="tab-pane fade" id="Information">
                      <h4 ng-bind-html="product.configuration | unsafeHtml"></h4>
                    </div>
                    <div class="tab-pane fade " id="Reviews">
                    </div>
                  </div>
                </div>

                <div class="sticker sticker-sale">
                  <div class="text-overlay" style="position: relative;top: 30%;left:75%; font-size: 20px;">50%</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel panel-heading">
            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Sản phẩm cùng loại</h1>
          </div>
          <div class="panel panel-body">
            <div class="row margin-bottom-40">
              <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in relatedProducts">
                <div class="card" style="width: 280px; height: 350px; padding: 10px;">
                  <div class="card__image">
                    <img class="headband-image">
                    <div class="text-overlay">50%</div>
                    <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                      alt="Berry Lace Dress" ng-click="goToSinglePage(item.productID)">
                    <!-- Các phần còn lại của mã HTML -->
                  </div>
                  <div class="card__content" style="margin-top: 30px;">
                    <span class="title" ng-click="goToSinglePage(item.productID)"
                      style="font-size: small; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;"
                      title="{{item.productName}}">
                      {{item.productName}}
                    </span>
                    <p class="pi-price">
                      <strike ng-if="item.promotion" style="font-size: small;">{{ item.price | number: 0 }}
                        đ</strike>
                      <span ng-show="!item.promotion" style="font-weight: bold;">{{ item.price | number: 0 }}
                        đ</span>
                    </p>
                    <div style="display: flex; align-items: center; justify-content: end;">

                      <div style="font-weight: bold;" ng-if="item.promotion" class="pi-price">
                        {{ calculateDiscountedPrice(item) | number: 0 }} đ
                      </div>
                      <a style="width: 80px; margin-left: auto; cursor: pointer; display: flex; align-items: center; justify-content: end; margin-top: 15px;"
                        ng-click="selectProduct(item)">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" style="margin-bottom: 8px;"
                          viewBox="0 0 448 512"><path fill="#8f8c8c"
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                        </svg>
                        <p style="margin-left: 6px; color: rgb(143, 140, 140) ;">So sánh</p> -->
                      </a>
                    </div>
                    <a class="btnADD btn-default add2cart" ng-click="addToCart(item.productID)"
                      ng-if="item.active !== false"><label for="" style="padding-top: 8px;">Thêm vào giỏ hàng</label>
                    </a>
                    <p class="btnHetHaNG default add2cart" ng-if="item.active === false"
                      style="text-align: center; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: slategray;">
                      Hết hàng</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END SIMILAR PRODUCTS -->
        </div>
      </div>

      <!-- BEGIN BRANDS -->
      <div class="brands">
        <div class="container">
          <div class="owl-carousel owl-carousel6-brands">
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/canon.jpg" alt="canon"
                title="canon"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/esprit.jpg" alt="esprit"
                title="esprit"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/next.jpg" alt="next" title="next"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/canon.jpg" alt="canon"
                title="canon"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/esprit.jpg" alt="esprit"
                title="esprit"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/next.jpg" alt="next" title="next"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
          </div>
        </div>
      </div>
      <!-- END BRANDS -->
  </main>
</body>

</html>