<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main ng-controller="product_detail-controller">
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Store</a></li>
          <li class="active">Cool green dress with red bell</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">


          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-7">
            <div class="product-page">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="product-main-image">
                    <img ng-src="../assets/images/product/{{product.image}}" alt="Cool green dress with red bell"
                      class="img-responsive" data-BigImgsrc="../assets/images/product/{{product.image}}">
                  </div>
                  <div class="product-other-images">
                    <a href="../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                    <a href="../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                    <a href=".../assets/images/product/{{product.image}}" class="fancybox-button" rel="photos-lib"><img
                        alt="Berry Lace Dress" src="../assets/images/product/{{product.image}}"></a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h1>{{product.productName}}</h1>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <div class="pi-price" style="margin: 15px;">
                        <strike ng-if="product.promotion">{{ product.price | number: 0 }} đ</strike>
                        <span ng-show="!product.promotion">{{ product.price | number: 0 }} đ</span>
                      </div><br>
                      <strong ng-if="product.promotion" class="pi-price">
                        {{ calculateDiscountedPrice(product) | number: 0 }} đ
                      </strong>
                    </div>
                    <div class="availability">
                      Loại sản phẩm: <strong>{{product.category.categoryName}}</strong>
                    </div>
                  </div>
                  <div class="product-page-cart">
                    <div class="product-quantity">
                      <input id="product-quantity" type="number" value="1" ng-model="qty" class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="addToCartQty(product.productID)">Add to
                      cart</button>
                  </div>

                  <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                  </ul>
                </div>

                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#Description" data-toggle="tab">Description</a></li>
                    <li><a href="#Information" data-toggle="tab">Information</a></li>
                    <li><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Description">
                      <h4 ng-bind-html="product.description | unsafeHtml"></h4>
                    </div>
                    <div class="tab-pane fade" id="Information">
                      <h4 ng-bind-html="product.configuration | unsafeHtml"></h4>
                    </div>
                    <div class="tab-pane fade " id="Reviews">
                    </div>
                  </div>
                </div>

                <div class="sticker sticker-sale"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel panel-heading">
            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Sản phẩm cùng loại</h1>
          </div>
          <div class="panel panel-body">
            <div class="row margin-bottom-40">
              <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in relatedProducts">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                      alt="Berry Lace Dress">
                    <div>
                      <a href="../assets/images/product/{{item.image}}" class="btn btn-default fancybox-button">Zoom</a>
                    </div>
                  </div>
                  <h3 style="height: 40px;"><a ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                  <div class="pi-price" style="margin: 15px;">
                    <strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike>
                    <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                  </div><br>
                  <div ng-if="item.promotion" class="pi-price">
                    {{ calculateDiscountedPrice(item) | number: 0 }} đ
                  </div>
                  <a class="btn btn-default add2cart" ng-click="addToCart(item.productID)"
                    ng-if="item.active !== false">Add to cart</a>
                  <a class="btn btn-default add2cart" ng-if="item.active === false">Hết hàng</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END SIMILAR PRODUCTS -->
        </div>
      </div>

      <!-- BEGIN BRANDS -->
      <div class="brands">
        <div class="container">
          <div class="owl-carousel owl-carousel6-brands">
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/canon.jpg" alt="canon"
                title="canon"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/esprit.jpg" alt="esprit"
                title="esprit"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/next.jpg" alt="next" title="next"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/canon.jpg" alt="canon"
                title="canon"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/esprit.jpg" alt="esprit"
                title="esprit"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/next.jpg" alt="next" title="next"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
            <a href="shop-product-list.html"><img src="../assets/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
          </div>
        </div>
      </div>
      <!-- END BRANDS -->
  </main>
</body>

</html>