<!DOCTYPE html>
<html th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}" , xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>

<body>
  <main ng-controller="product-controller">
    <!-- <div class="title-wrapper">
      <div class="container">
        <div class="container-inner">
          <h1><span>Sản Phẩm</span></h1>
          <em>NHUTIN STORE ĐỒNG HÀNH CÙNG SIÊU SALE 20-10</em>
        </div>
      </div>
    </div> -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="">Trang chủ</a></li>
          <li class="active">Sản phẩm</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
            <div class="sidebar-filter margin-bottom-25">
              <h2>Danh mục</h2>
              <div class="checkbox-list">
                <label>
                  <a href="javascript:location.reload(true);">
                    <h3>Tất cả</h3>
                  </a>
                </label>
              </div>
              <div class="checkbox-list" ng-repeat="item in categoris" ng-if="item.active !== false">
                <label>
                  <input type="checkbox" ng-model="item.selected" ng-change="toggleSelection(item)">
                  {{item.categoryName}}
                </label>
              </div>
            </div>

            <div class="sidebar-products">
              <h2>Thương hiệu</h2>
              <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="item in brands" ng-if="item.active !== false">
                <a class="card" ng-click="filterDataBrand(item.brandID)">
                  <div class="card-details">
                    <img ng-src="./assets/images/carousel/{{item.image}}" alt="Berry Lace Dress">
                  </div>
                  <button class="card-button">{{item.brandName}}</button>
                </a>
              </div>
            </div>

          </div>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="row list-view-sorting clearfix">
              <div class="col-md-2 col-sm-2 list-view">
                <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                <a href="javascript:;"><i class="fa fa-th-list"></i></a>
              </div>
              <div class="pull-right">
                <label class="control-label">Sắp xếp&nbsp;theo giá:</label>

                <select id="priceSelect" class="form-control input-sm" ng-model="selectedPrice"
                  ng-change="loadProductsByPrice(selectedPrice)">
                  <option value="">Tất cả</option>
                  <option value="2000000">Dưới 2.000.000 VND</option>
                  <option value="5000000">Dưới 5.000.000 VND</option>
                  <option value="10000000">Dưới 10.000.000 VND</option>
                  <option value="20000000">Dưới 20.000.000 VND</option>
                  <option value="50000000">Dưới 50.000.000 VND</option>
                  <!-- Thêm các tùy chọn khác tại đây -->
                </select>

              </div>
            </div>

            <!-- BEGIN PRODUCT LIST -->
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <div ng-if="noProductsFound">
                <div class="col-md-12 col-sm-4 items-info">
                  <h3>Không có sản phẩm nào được tìm thấy.</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in products | limitTo: productsToShowList">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}" class="img-responsive"
                      alt="Berry Lace Dress">
                    <div>
                      <a href="../assets/images/product/{{item.image}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a class="btn btn-default fancybox-button" ng-click="selectProduct(item)">So sánh</a>
                    </div>
                  </div>
                  <h3 style="height: 30px;"><a ng-click="goToSinglePage(item.productID)">{{item.productName}}</a></h3>
                  <div class="pi-price" style="margin: 15px;">
                    <p><strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike></p>
                    <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                  </div><br>
                  <div ng-if="item.promotion" class="pi-price">
                    {{ calculateDiscountedPrice(item) | number: 0 }} đ
                  </div>
                  <div class="pi-price">
                    <a class="btn btn-default add2cart" ng-click="addToCart(item.productID)"
                      ng-if="item.active !== false">Add to cart</a>
                    <a class="btn btn-default add2cart" ng-if="item.active === false">Hết hàng</a>
                  </div>

                </div>
              </div>
            </div>

            <div class="text-center">
              <a class="btn btn-primary" ng-click="showMoreProductsList()"
                ng-show="productsToShowList < products.length">Show
                more</a>
              <a class="btn btn-default" ng-click="showLessProductsList()"
                ng-show="productsToShowList > productsListPerPage">Show
                less</a>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">So sánh sản phẩm</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="item in selectedProducts">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <img style="height: 170px;" ng-src="../assets/images/product/{{item.image}}"
                            class="img-responsive" alt="Berry Lace Dress">
                          <div>
                            <a href="../assets/images/product/{{item.image}}"
                              class="btn btn-default fancybox-button">Zoom</a>
                          </div>
                        </div>
                        <h3 style="height: 30px;"><a ng-click="goToSinglePage(item.productID)">{{item.productName}}</a>
                        </h3>
                        <div class="pi-price" style="margin: 15px;">
                          <p><strike ng-if="item.promotion">{{ item.price | number: 0 }} đ</strike></p>
                          <span ng-show="!item.promotion">{{ item.price | number: 0 }} đ</span>
                        </div><br>
                        <div ng-if="item.promotion" class="pi-price">
                          {{ calculateDiscountedPrice(item) | number: 0 }} đ
                        </div>
                        <a class="btn btn-default add2cart" ng-click="addToCart(item.productID)"
                          ng-if="item.active !== false">Add to cart</a>
                        <a class="btn btn-default add2cart" ng-if="item.active === false">Hết hàng</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-primary" ng-click=" compareProducts()"
                      ng-show="selectedProducts.length === 2">So sánh</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->


            <div class="modal fade  modal-fullscreen bd-example-modal-lg" id="exampleModal1" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">So sánh nhanh</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-striped">
                      <thead class="thead-light">
                        <tr>
                          <th></th>
                          <th>{{ selectedProducts[0].productName }}</th>
                          <th>{{ selectedProducts[1].productName }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="result in comparisonResult">
                          <td><b>{{ firstColumnValues[$index] }}</b></td>
                          <td ng-bind-html="result.product1Value"> {{ result.product1Value }} </td>
                          <td ng-bind-html="result.product2Value"> {{ result.product2Value }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- END PRODUCT LIST -->
          <!-- BEGIN PAGINATOR -->
          <!-- END PAGINATOR -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
    </div>
  </main>
</body>

</html>